.regular-history-item {
	@include block-radius(16px);

	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;

	&__header {
		display: flex;
		align-items: flex-start;
		gap: 16px;
	}

	&__content {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 4px;
	}

	&__status {
		margin: 0;
		color: var(--color-text-primary);
		font-size: 16px;
		font-weight: var(--weight-medium);
		line-height: 1.2;
	}

	&__date {
		margin: 0;
		color: var(--color-text-secondary);
		font-size: 14px;
		line-height: 1.2;
	}

	&__stats {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 4px;
	}

	&__streak {
		color: var(--color-text-primary);
		font-size: 16px;
		font-weight: var(--weight-semi-bold);
		line-height: 1.2;
	}

	&__completions {
		color: var(--color-text-secondary);
		font-size: 14px;
		line-height: 1.2;
	}

	&__line {
		margin: 16px 0;
		width: 100%;
	}

	&__settings {
		display: flex;
		flex-direction: column;
		gap: 8px;
		width: 100%;
	}

	&__setting-item {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 8px;
	}

	&__setting-label {
		color: var(--color-text-secondary);
		font-size: 14px;
		line-height: 1.4;
	}

	&__setting-value {
		color: var(--color-text-primary);
		font-size: 14px;
		font-weight: var(--weight-medium);
		line-height: 1.4;
		text-align: right;
	}

	@media (width <= 768px) {
		gap: 12px;
		padding: 12px;

		&__icon-wrapper {
			width: 32px;
			height: 32px;
		}

		&__status {
			font-size: 14px;
		}

		&__date {
			font-size: 12px;
		}

		&__streak {
			font-size: 14px;
		}

		&__completions {
			font-size: 12px;
		}

		&__line {
			margin: 12px 0;
		}

		&__settings {
			gap: 6px;
		}

		&__setting-label,
		&__setting-value {
			font-size: 12px;
		}
	}
}
