@import '@/_commons/styles-supports/mixins';

.tag {
	display: flex;
	align-items: center;

	width: max-content;
	padding: 2px 8px;

	color: var(--color-white);
	border: 1px solid rgb(var(--color-white-rgb) 0.16);
	border-radius: 4px;
	background: rgb(var(--color-white-rgb) 0.08);

	font-size: 14px;
	font-weight: var(--weight-medium);
	line-height: var(--line-height-14);
	backdrop-filter: blur(4px);
	gap: 4px;

	&--theme-light {
		color: var(--color-text);
		border: 1px solid var(--color-gray-9);
		background: var(--color-white);
	}

	&--theme-integrate {
		padding: 0;

		color: var(--color-text);
		border: none;
	}

	&--category-travel {
		@include category-tag('travel');
	}

	&--category-education {
		@include category-tag('education');
	}

	&--category-health-and-sport {
		@include category-tag('health-and-sport');
	}

	&--category-career {
		@include category-tag('career');
	}

	&--category-relations {
		@include category-tag('relations');
	}

	&--category-entertainment {
		@include category-tag('entertainment');
	}

	&--category-hobbies {
		@include category-tag('hobbies');
	}

	&--category-gastronomy {
		@include category-tag('gastronomy');
	}
}
