.pagination {
	display: flex;
	justify-content: center;
	gap: 12px;

	&__pages {
		display: flex;
		padding: 2px;
		background: var(--color-gray-5);
		border-radius: 6px;
	}

	&__page {
		width: 48px;
	}

	&__arrow {
		width: auto;
		transition: all 0.2s linear;

		&--notShow {
			background: transparent;
			color: transparent;
			cursor: initial;
			transition: all 0.2s linear;

			&:hover {
				background: transparent;
			}

			* {
				transition: all 0.2s linear;
				fill: transparent;
			}
		}
	}
}
