.notification {
	$block: &;

	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	padding: 8px 16px;
	border-radius: 8px;
	background: var(--color-white);
	width: 456px;

	// &--visible {

	// }

	&__icon {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		color: var(--color-white);
		border-radius: 50%;
		background: var(--color-sentiment-warning);
	}

	&__text {
		display: flex;
		align-items: center;
	}

	&__char {
		opacity: 0;
		animation: fadeIn 0.5s forwards;
	}

	&__close {
		margin-left: auto;
		opacity: 0;
		animation: fadeIn 0.5s forwards;
	}

	&__text {
		display: inline-block;
		overflow: hidden;
	}

	&__char {
		display: inline-block;
		opacity: 0;
		animation: fadeInUp 0.3s forwards;
	}

	&--visible {
		// ваши стили для видимого уведомления
	}
}
@keyframes fadeInUp {
	to {
		opacity: 1;
	}
}
