.title-with-tags {
	$block: &;

	&__title-copyable {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: left;
		background: none;
		border: none;
		cursor: pointer;
		font: inherit;
		color: inherit;

		&:hover {
			opacity: 0.9;
		}
	}

	&__title {
		margin-bottom: 16px;

		&--short {
			margin-bottom: 0;
			font-size: 22px;
			font-weight: var(--weight-semi-bold);
			line-height: var(--line-height-22);
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow-wrap: anywhere;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
		}
	}

	&--theme-light {
		#{$block} {
			&__title {
				color: var(--color-text-primary);
			}
		}
	}
}
