.title-with-tags {
	$block: &;

	&__title {
		margin-bottom: 16px;

		&--short {
			font-size: 22px;
			font-weight: var(--weight-semi-bold);
			line-height: var(--line-height-22);
		}
	}

	&--theme-light {
		#{$block} {
			&__title {
				color: var(--color-text-primary);
			}
		}
	}
}
