.loader {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100px;

	&--page {
		height: 100vh;
	}

	&__overlay {
		position: fixed;
		z-index: 1000;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(255 255 255 / 70%);
		inset: 0;
		opacity: 0;
		animation: loader-fade-in 0.2s ease-out forwards;

		// Для BlurLoader: только блюр без подложки
		&--transparent {
			background-color: transparent;
		}
	}

	&__content {
		width: 100%;
		height: 100%;

		&--blurred {
			filter: blur(6px);
		}

		&--page {
			height: 100vh;
		}
	}

	&__dart {
		transform-origin: center;
		animation: dart-flight 2.5s linear infinite;
		transform-box: fill-box;
	}

	&__aim {
		transform-origin: center;
		animation: aim-shake 2.5s linear infinite;
		transform-box: fill-box;
	}
}

@keyframes loader-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes dart-flight {
	0% {
		opacity: 0;
		transform: translate(30px, -15px) rotate(0);
	}

	5% {
		opacity: 1;
		transform: translate(0, 0) rotate(0);
	}

	65% {
		opacity: 1;
		transform: translate(0, 0) rotate(0);
	}

	80% {
		opacity: 1;
		transform: translate(0, 0) rotate(60deg);
		transform-origin: left bottom;
	}

	94% {
		opacity: 0;
		transform: translate(20px, 30px) rotate(90deg);
	}

	100% {
		opacity: 0;
		transform: translate(20px, 30px) rotate(90deg);
	}
}

@keyframes aim-shake {
	0%,
	5%,
	35%,
	100% {
		transform: translate(0, 0);
	}

	5.1% {
		transform: translate(-2px, 1px);
	}

	10% {
		transform: translate(2px, -1px);
	}

	15% {
		transform: translate(-1px, -1px);
	}

	20% {
		transform: translate(1px, 1px);
	}

	25% {
		transform: translate(-1px, 0);
	}

	30% {
		transform: translate(1px, 0);
	}
}
