@import '@/_commons/styles-supports/mixins';

.header-category {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 109;

	width: 100vw;
	padding: calc(var(--height-header) + 56px) 0 56px;

	transition: all 0.3s linear;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

	&::after {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		display: block;

		width: 100%;
		height: 100%;
	}

	&__title-wrapper {
		position: relative;
		z-index: 2;

		display: flex;

		max-width: 1440px;
		margin: 0 auto;
	}

	&__title-link {
		color: rgb(var(--color-white-rgb) 0.72);
	}

	&__subcategories {
		display: flex;
		flex-wrap: wrap;

		max-width: 1440px;
		margin: 56px auto 0;
		gap: 24px;
	}

	&__subcategory {
		position: relative;
		z-index: 2;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 216px;
		padding: 16px 0;

		transition: all 0.15s ease-in-out;

		color: var(--color-white);
		border: 1px solid rgb(var(--color-white-rgb) 0.16);
		border-radius: 8px;
		background: rgb(var(--color-white-rgb) 0.08);

		font-weight: var(--weight-semi-bold);
		gap: 16px;

		&:hover {
			border: 1px solid rgb(var(--color-primary-hover-rgb) 0.16);
			background: rgb(var(--color-primary-hover-rgb) 0.08);
		}
	}

	&__subcategory-icon {
		max-width: 24px;
		max-height: 24px;
	}

	&--fixed {
		padding: calc(var(--height-header) + 16px) 0 16px;

		transition: all 0.3s linear;
	}

	&--category-travel::after {
		@include category-header-gradient('travel');
	}

	&--category-education::after {
		@include category-header-gradient('education');
	}

	&--category-health-and-sport::after {
		@include category-header-gradient('health-and-sport');
	}

	&--category-career::after {
		@include category-header-gradient('career');
	}

	&--category-relations::after {
		@include category-header-gradient('relations');
	}

	&--category-entertainment::after {
		@include category-header-gradient('entertainment');
	}

	&--category-hobbies::after {
		@include category-header-gradient('hobbies');
	}

	&--category-gastronomy::after {
		@include category-header-gradient('gastronomy');
	}
}
