.header-category {
	position: fixed;
	z-index: 109;
	top: 0;
	left: 0;
	width: 100vw;
	padding: calc(var(--height-header) + 56px) 0 56px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	transition: all 0.3s linear;

	&::after {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
	}

	&--fixed {
		padding: calc(var(--height-header) + 16px) 0 16px;
		transition: all 0.3s linear;
	}

	&--category-travel::after {
		background: linear-gradient(
			180deg,
			rgb(var(--color-travel-rgb) 0.5) 0%,
			rgb(var(--color-travel-rgb) 0.55) 10%,
			rgb(var(--color-travel-rgb) 0.6) 20%,
			rgb(var(--color-travel-rgb) 0.65) 30%,
			var(--color-black) 100%
		);
	}

	&__title-wrapper {
		position: relative;
		z-index: 2;
		display: flex;
		max-width: 1440px;
		margin: 0 auto;
	}

	&__title-link {
		color: rgb(var(--color-white-rgb) 0.72);
	}

	&__subcategories {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		max-width: 1440px;
		margin: 56px auto 0;
	}

	&__subcategory {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
		width: 216px;
		padding: 16px 0;
		background: rgb(var(--color-white-rgb) 0.08);
		border: 1px solid rgb(var(--color-white-rgb) 0.16);
		border-radius: 8px;
		color: var(--color-white);
		font-weight: var(--weight-semi-bold);

		&:hover {
			background: rgb(var(--color-primary-hover-rgb) 0.08);
			border: 1px solid rgb(var(--color-primary-hover-rgb) 0.16);
		}
	}

	&__subcategory-icon {
		max-width: 24px;
		max-height: 24px;
	}
}
