.line {
	height: 1px;
	margin: 16px 0;
	background: var(--color-gray-9);
	border: none;

	&--vertical {
		display: flex;
		width: 1px;
		height: 100%;
		margin: 0;

		@include sm {
			display: none;
		}
	}

	&--withoutMargin {
		margin: 0;
	}
}
