.not-found {
	max-width: var(--max-width);
	margin: 0 auto 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	background: var(--color-gray-3);

	&__link {
		margin-top: 16px;
	}
}
