.not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	max-width: var(--max-width);
	min-height: calc(100vh - var(--height-header));
	margin: 0 auto;
	background: var(--color-gray-3);

	&__link {
		margin-top: 16px;
	}
}
