.user-info {
	padding: 16px 16px 0;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 8px;
	overflow: hidden;

	&__bg {
		height: 256px;
		margin: -16px -16px 16px;
		background-size: cover;
	}

	&__about {
		display: flex;
		gap: 16px;
		margin-bottom: -40px;
		transform: translateY(-64px);

		@include sm {
			flex-direction: column;
			align-items: center;
			gap: 8px;
		}
	}

	&__wrapper {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		align-items: center;
		padding-top: 64px;

		@include sm {
			padding-top: 0;
		}
	}

	&__goals {
		width: auto;
		margin-top: 20px;
		margin-left: auto;
	}

	&__friend-actions {
		display: flex;
		align-items: center;
		gap: 12px;
	}
}
