.user-self-achievements {
	display: flex;
	gap: 24px;
	max-width: var(--max-width);
	margin: 40px auto 0;

	&--empty {
		justify-content: center;
	}

	@include sm {
		display: block;
		margin: 0;
	}

	&__groups {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__group-title {
		margin-bottom: 8px;
	}

	&__group-content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;

		@include lg {
			grid-template-columns: repeat(2, 1fr);
		}

		@include sm {
			grid-template-columns: repeat(1, 1fr);
			gap: 16px;
		}
	}
}
