.gradient {
	$block: &;

	position: relative;

	// height: 100%;
	width: 100%;

	&__img {
		position: relative;
		z-index: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		&--blacked {
			filter: grayscale(100%) contrast(0.7);
		}
	}

	&__color {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 0.3s linear;

		@each $category in $main-categories {
			&--category-#{$category} {
				@include category-gradient($category);
				&#{$block}__color--withoutBlack {
					@include category-gradient-without-black($category);
				}

				&#{$block}__color--withBlack {
					@include category-gradient-with-black($category);
				}
			}
		}

		&--blacked {
			background: linear-gradient(180deg, rgba(var(--color-black-rgb) / 16%) 0%, var(--color-black) 100%);
		}

		&--show {
			opacity: 1;
			transition: all 0.3s linear;
		}
	}

	&__top-info {
		position: absolute;
		z-index: 10;
		top: 16px;
		left: 16px;
		width: calc(100% - 32px);
		height: calc(100% - 32px);
	}
}
