@import '@/_commons/styles-supports/mixins';

.gradient {
	$block: &;

	position: relative;

	// height: 100%;
	width: 100%;

	&__img {
		position: relative;
		z-index: 0;

		width: 100%;
		height: 100%;

		object-fit: cover;

		&--blacked {
			filter: grayscale(100%);
		}
	}

	&__color {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		width: 100%;
		height: 100%;

		transition: all 0.3s linear;

		opacity: 0;

		// Категории с градиентами
		&--category-travel {
			@include category-gradient('travel');
			&#{$block}__color {
				@include category-gradient-without-black('travel');
			}
		}

		&--category-education {
			@include category-gradient('education');
			&#{$block}__color {
				@include category-gradient-without-black('education');
			}
		}

		&--category-health-and-sport {
			@include category-gradient('health-and-sport');
			&#{$block}__color {
				@include category-gradient-without-black('health-and-sport');
			}
		}

		&--category-career {
			@include category-gradient('career');
			&#{$block}__color {
				@include category-gradient-without-black('career');
			}
		}

		&--category-relations {
			@include category-gradient('relations');
			&#{$block}__color {
				@include category-gradient-without-black('relations');
			}
		}

		&--category-entertainment {
			@include category-gradient('entertainment');
			&#{$block}__color {
				@include category-gradient-without-black('entertainment');
			}
		}

		&--category-hobbies {
			@include category-gradient('hobbies');
			&#{$block}__color {
				@include category-gradient-without-black('hobbies');
			}
		}

		&--category-gastronomy {
			@include category-gradient('gastronomy');
			&#{$block}__color {
				@include category-gradient-without-black('gastronomy');
			}
		}

		&--blacked {
			background: linear-gradient(
				180deg,
				rgb(var(--color-black-rgb) 0.1) 0%,
				rgb(var(--color-black-rgb) 0.2) 20%,
				rgb(var(--color-black-rgb) 0.3) 30%,
				var(--color-black) 100%
			);
		}

		&--show {
			transition: all 0.3s linear;

			opacity: 1;
		}
	}

	&__top-info {
		position: absolute;
		top: 16px;
		left: 16px;
		z-index: 10;

		width: calc(100% - 32px);
		height: calc(100% - 32px);
	}
}
