.button {
	$block: &;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	width: 100%;
	padding: 8px 16px;
	border-radius: 4px;
	transition: all 0.15s ease-in-out;
	overflow: hidden;

	&:active {
		transform: scale(0.97);
	}

	&__ripple {
		position: absolute;
		background-color: rgba(var(--color-white-rgb) / 40%);
		border-radius: 50%;
		pointer-events: none;
		transform: scale(0);
		animation: ripple-animation 800ms ease-out;
	}

	@keyframes ripple-animation {
		0% {
			opacity: 1;
			transform: scale(0);
		}

		100% {
			opacity: 0;
			transform: scale(4);
		}
	}

	&__loading {
		width: 16px;
		height: 16px;
		animation: 2s linear infinite rotate;
		border-bottom: 1px solid var(--color-text-primary);
		border-radius: 50%;
	}

	&--close {
		width: 24px;
		height: 24px;
		padding: 2px;
		border: none;

		&:hover {
			background: var(--color-secondary-hover);
		}

		&:focus {
			@include focus-outline;

			background: var(--color-secondary-hover);
		}

		* {
			fill: var(--color-text);
		}

		#{$block}__ripple {
			background-color: rgba(var(--color-text-rgb) / 40%);
		}
	}

	&--withBorder {
		border: 1px solid var(--color-text);
	}

	&--theme-blue {
		background: var(--color-primary);
		color: var(--color-white);

		&:hover,
		&:active {
			background: var(--color-primary-hover);
		}

		&:focus {
			@include focus-outline;
		}

		#{$block}__icon * {
			fill: var(--color-white);
		}

		#{$block}__ripple {
			background-color: rgba(var(--color-white-rgb) / 40%);
		}
	}

	&--theme-blue-light {
		background: var(--color-secondary);
		color: var(--color-text-primary);

		&:hover,
		&:active {
			background: var(--color-secondary-hover);
		}

		&:focus {
			@include focus-outline;
		}

		path {
			fill: var(--color-text-primary);
		}

		#{$block}__ripple {
			background-color: rgba(var(--color-text-primary-rgb) / 40%);
		}
	}

	&--theme-green {
		background: var(--color-sentiment-positive);
		color: var(--color-white);

		&:hover,
		&:active {
			background: var(--color-sentiment-positive-hover);
		}

		&:focus {
			@include focus-outline;
		}

		#{$block}__icon * {
			fill: var(--color-white);
		}

		#{$block}__ripple {
			background-color: rgba(var(--color-white-rgb) / 40%);
		}
	}

	&--theme-red {
		background: var(--color-sentiment-negative);
		color: var(--color-white);

		&:hover,
		&:active {
			background: var(--color-sentiment-negative-hover);
		}

		&:focus {
			@include focus-outline;
		}

		#{$block}__icon * {
			fill: var(--color-white);
		}

		#{$block}__ripple {
			background-color: rgba(var(--color-white-rgb) / 40%);
		}
	}

	&--theme-gradient {
		position: relative;
		z-index: 1;
		background: linear-gradient(
			-45deg,
			var(--color-gradient-orange),
			var(--color-gradient-pink),
			var(--color-gradient-blue),
			var(--color-gradient-turquoise)
		);
		background-size: 600%;
		color: rgb(var(--color-white-rgb) / 90%);
		animation: anime 16s linear infinite;

		#{$block}__icon * {
			fill: var(--color-white);
		}

		#{$block}__ripple {
			background-color: rgba(var(--color-white-rgb) / 40%);
		}
	}

	&__gradient-shadow {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		margin-top: 12px;
		background: linear-gradient(
			-45deg,
			var(--color-gradient-orange),
			var(--color-gradient-pink),
			var(--color-gradient-blue),
			var(--color-gradient-turquoise)
		);
		background-size: 600%;
		border-radius: 4px;
		color: rgb(var(--color-white-rgb) / 90%);
		opacity: 0.8;
		animation: anime 16s linear infinite;
		filter: blur(10px);
	}

	@keyframes anime {
		0% {
			background-position: 0% 50%;
		}

		50% {
			background-position: 100% 50%;
		}

		100% {
			background-position: 0% 50%;
		}
	}

	&--small {
		width: auto;
		padding: 6px 16px;
		border-radius: 20px;
	}

	&--theme-no-border {
		width: auto;
		padding: 0;
		color: var(--color-primary);

		&:hover,
		&:active {
			color: var(--color-primary-hover);
		}

		&:focus {
			@include focus-outline;
		}

		#{$block}__ripple {
			background-color: transparent;
		}
	}

	&--theme-integrate {
		width: min-content;
		padding: 0;
		color: inherit;

		&:hover,
		&:active {
			color: inherit;
		}

		&:focus {
			@include focus-outline;
		}

		#{$block}__ripple {
			background-color: transparent;
		}
	}

	&--size-small {
		width: auto;
		height: 32px;
		padding: 6px 8px;
	}

	&--size-medium {
		width: auto;
		height: 40px;
		padding: 10px 16px;
	}

	&--disabled {
		cursor: not-allowed;
		pointer-events: none;
		opacity: 0.6;

		&:hover,
		&:active {
			background: var(--color-white);
			cursor: initial;
			opacity: 0.6;
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}
}
