.button {
	$block: &;
	padding: 8px 16px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	border-radius: 4px;

	&--theme-blue {
		background: var(--color-primary);
		color: var(--color-white);

		&:hover,
		&:active {
			background: var(--color-primary-hover);
		}

		&:focus {
			box-shadow: 0px 0px 0px 2px rgba(var(--color-primary-rgb), 0.4);
		}

		#{$block}__icon * {
			fill: var(--color-white);
		}
	}

	&--theme-blue-light {
		background: var(--color-secondary);
		color: var(--color-text-primary);

		path {
			fill: var(--color-text-primary);
		}

		&:hover,
		&:active {
			background: var(--color-secondary-hover);
		}
	}

	&--theme-green {
		background: var(--color-sentiment-positive);
		color: var(--color-white);

		&:hover,
		&:active {
			background: var(--color-sentiment-positive-hover);
		}

		#{$block}__icon * {
			fill: var(--color-white);
		}
	}

	&--theme-red {
		background: var(--color-sentiment-negative);
		color: var(--color-white);

		&:hover,
		&:active {
			background: var(--color-sentiment-negative-hover);
		}

		#{$block}__icon * {
			fill: var(--color-white);
		}
	}

	&--small {
		padding: 6px 16px;
		width: auto;
		border-radius: 20px;
	}

	&--theme-no-border {
		padding: 0;
		width: auto;
		color: var(--color-primary);
	}

	&--size-small {
		padding: 6px 8px;
		width: auto;
		height: 32px;
	}

	&--size-medium {
		padding: 10px 16px;
		width: auto;
		height: 40px;
	}

	&--active {
		background: var(--color-white);

		&:hover,
		&:active {
			background: var(--color-white);
			cursor: initial;
		}
	}

	&__loading {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border-bottom: 1px solid var(--color-text-primary);
		animation: 2s linear infinite rotate;
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}
}
