.field-input {
	$block: &;

	display: flex;
	flex-direction: column;

	&__error {
		color: var(--color-sentiment-negative);
		font-weight: var(--weight-medium);
	}

	&__label {
		margin-bottom: 4px;
		font-weight: 500;
	}

	&__wrapper {
		position: relative;
		width: 100%;
	}

	&__icon-begin {
		position: absolute;
		top: 12px;
		left: 16px;
	}

	&__icon-end {
		position: absolute;
		top: 12px;
		right: 16px;
	}

	&__input {
		width: 100%;
		min-width: 150px;
		height: 100%;
		padding: 10px 16px;
		border: 1px solid var(--color-gray-4);
		border-radius: 8px;
		transition: outline 0.15s ease-in-out, border 0.15s ease-in-out;
		resize: vertical;

		&:hover {
			border: 1px solid var(--color-primary-hover);
		}

		&:focus,
		&:focus-visible {
			@include focus-outline;

			border: 1px solid var(--color-primary-hover);
		}

		&--iconBegin {
			padding-left: 40px;
		}

		&--iconEnd {
			padding-right: 50px;
		}
	}

	&__show-password {
		position: absolute;
		top: 8px;
		right: 16px;

		* {
			fill: var(--color-text-secondary);
		}
	}

	&--error {
		#{$block}__wrapper {
			margin-bottom: 4px;
		}

		#{$block}__input {
			border: 1px solid var(--color-sentiment-negative);
		}
	}

	&--theme-transparent {
		#{$block}__input {
			height: 40px;
			background: rgba(var(--color-black-rgb) / 16%);
			border: none;
			color: var(--color-white);

			&::placeholder {
				color: rgba(var(--color-white-rgb) / 78%);
			}

			&--focusBorder-white {
				border: 1px solid transparent;
				outline: none;

				&:focus,
				&:focus-visible {
					border: 1px solid rgba(var(--color-white-rgb) / 72%);
					box-shadow: 0 0 0 2px rgba(var(--color-white-rgb) / 40%);
				}
			}
		}

		#{$block}__icon-end {
			svg path {
				fill: var(--color-white);
			}
		}
	}
}
