.user-showcase {
	max-width: var(--max-width);
	margin: 40px auto 0;
	display: flex;
	gap: 24px;

	&__lists {
		margin-bottom: 40px;
	}

	&__sidebar {
		width: 336px;
		flex-shrink: 0;
	}

	&__title {
		margin-bottom: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__stats {
		margin-bottom: 56px;
	}

	&__achievement {
		margin-bottom: 24px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
