.user-showcase {
	display: flex;
	gap: 24px;
	max-width: var(--max-width);
	margin: 40px auto 0;

	@include xs {
		gap: 0;
	}

	&__lists {
		margin-bottom: 40px;
	}

	&__sidebar {
		flex-shrink: 0;
		width: 336px;

		@include xs {
			width: 100%;
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;
	}

	&__stats {
		margin-bottom: 56px;
	}

	&__achievement {
		margin-bottom: 24px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
