.tabs {
	$block: &;

	position: relative;

	&__scroll-container {
		position: relative;
		overflow-x: auto;
		scrollbar-width: none;
	}

	&__wrapper {
		display: flex;
		gap: 32px;
	}

	&::before,
	&::after {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		width: 52px;
		content: '';
		pointer-events: none;
	}

	&::before {
		left: 0;
		background: linear-gradient(to right, rgb(var(--color-white-rgb) / 100%) 0%, rgb(var(--color-white-rgb) / 0%) 100%);
		transition: opacity 0.2s ease;
	}

	&::after {
		right: 0;
		background: linear-gradient(to left, rgb(var(--color-white-rgb) / 100%) 0%, rgb(var(--color-white-rgb) / 0%) 100%);
		transition: opacity 0.2s ease;
	}

	&--at-start {
		&::before {
			opacity: 0;
		}
	}

	&--at-end {
		&::after {
			opacity: 0;
		}
	}

	&__link {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 42px;
		text-wrap: nowrap;
		padding: 16px 0;
		color: var(--color-text);
		font-weight: var(--weight-medium);
		opacity: 0.9;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 4px;
			background: transparent;
			border-radius: 6px 4px 0 0;
			transition: all 0.15s ease-in-out;
			content: '';
		}

		&:hover::after {
			background: var(--color-secondary);
		}

		&--active {
			color: var(--color-text-primary);

			&::after {
				background: var(--color-primary);
			}
		}
	}

	&__count {
		display: inline-block;
		padding: 2px 8px;
		margin-left: 4px;
		background: var(--color-gray-3);
		border: 1px solid var(--color-border);
		border-radius: 6px;
	}

	&--vertical {
		@include block-radius;

		padding: 8px 0;
		background: transparent;
		border: none;
		box-shadow: none;

		#{$block}__wrapper {
			display: flex;
			flex-direction: column;
			gap: 0;
		}

		&::before,
		&::after {
			display: none;
		}

		@include md {
			display: none;
		}

		#{$block} {
			&__link {
				gap: 8px;
				padding: 8px 24px;
				border-radius: 6px;

				&::after {
					top: 4px;
					right: 0;
					left: auto;
					width: 4px;
					height: calc(100% - 8px);
					border-radius: 0 4px 4px 0;
				}

				&:hover {
					background: var(--color-secondary-hover);

					&::after {
						display: none;
					}
				}

				&--active {
					color: var(--color-primary);
				}
			}
		}
	}
}
