.change-password {
	&__title {
		margin-bottom: 24px;
	}

	&__field {
		margin-bottom: 16px;

		.field-input__icon-begin * {
			fill: var(--color-text-secondary);
		}
	}

	&__btns-wrapper {
		display: flex;
		gap: 8px;
		margin-top: 24px;
	}
}
