.svg {
	display: flex;

	span {
		display: flex;
		// width: 100%;
		height: 100%;
	}

	* {
		transition: all 0.3s linear;
	}

	&--transform-bottom {
		transform: rotate(180deg);
	}

	&--transform-left {
		transform: rotate(-90deg);
	}

	&--transform-right {
		transform: rotate(90deg);
	}

	&--transform-vertical {
		transform: scale(1, -1);
	}
}
