.switch {
	display: flex;
	padding: 2px;
	background: var(--color-secondary);
	border-radius: 8px;

	&__link {
		display: flex;
		align-items: center;
		padding: 6px 16px;
		border-radius: 8px;
		color: var(--color-text-primary);
		font-weight: var(--weight-medium);

		@include md {
			width: 100%;
			text-wrap: nowrap;
		}

		&--active {
			background: var(--color-white);
			color: var(--color-text);
		}
	}

	&__count {
		display: inline-block;
		padding: 2px 8px;
		margin-left: 4px;
		background: var(--color-gray-3);
		border: 1px solid var(--color-border);
		border-radius: 4px;
		color: var(--color-text);
	}
}
