.content-goal {
	&__goal-in-list {
		@include block-radius;

		display: flex;
		gap: 10px;
		margin-bottom: 24px;

		@include sm {
			display: grid;
			grid-template-columns: 20px 1fr;
		}
	}

	&__goal-in-list-btn {
		margin-left: auto;
		text-wrap: nowrap;

		@include sm {
			grid-column: 2;
		}
	}

	&__info-all {
		display: flex;
		align-self: flex-start;
		gap: 24px;
	}

	&__description {
		flex-basis: 67%;
	}

	&__comments {
		margin-top: 24px;
	}

	&__btn-more {
		width: initial;
	}

	&__short-text {
		margin-bottom: 16px;
	}

	&__info {
		flex-basis: 33%;
		margin-bottom: 40px;
	}

	&__section {
		margin-bottom: 40px;
	}
}
