.content-goal {
	&__goal-in-list {
		display: flex;
		gap: 10px;
		margin-bottom: 24px;

		@include block-radius;
	}

	&__goal-in-list-btn {
		margin-left: auto;
	}

	&__info-all {
		display: flex;
		gap: 24px;
		align-self: flex-start;
	}

	&__description {
		flex-basis: 67%;
	}

	&__comments {
		margin-top: 24px;
	}

	&__btn-more {
		width: initial;
	}

	&__short-text {
		margin-bottom: 16px;
	}

	&__info {
		flex-basis: 33%;
		margin-bottom: 40px;
	}

	&__section {
		margin-bottom: 40px;
	}
}
