.content-goal {
	&__goal-in-list {
		margin-bottom: 24px;
	}

	&__info-all {
		display: flex;
		align-self: flex-start;
		gap: 24px;
	}

	&__description {
		flex-basis: 67%;
	}

	&__comments {
		margin-top: 24px;
	}

	&__btn-more {
		width: initial;
	}

	&__short-text {
		margin-bottom: 16px;
	}

	&__info {
		flex-basis: 33%;
		margin-bottom: 40px;
	}

	&__section {
		margin-bottom: 40px;
	}
}
