.content-goal {

	&__info {
		margin-bottom: 40px;
	}

	&__section {
		margin-bottom: 40px;
	}

	&__title-section {
		margin-bottom: 24px;
	}

	&__title-counter {
		color: var(--color-gray-11);
	}

	&__list-goals {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
	}

	&__item-list-goals {
		width: calc(50% - 12px);
	}
}
