.info-goal {
	$block: &;

	width: 100%;
	padding: 16px 24px;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 8px;

	&__wrapper {
		display: flex;
		flex-shrink: 0;
		align-items: center;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	&__title {
		color: var(--color-gray-1);
		font-size: 12px;
		line-height: var(--line-height-12);
	}

	&__text {
		color: (--color-text-primary);
		font-size: 16px;
		font-weight: var(--weight-bold);
		line-height: var(--line-height-16);
	}

	&__vertical-line {
		width: 1px;
		height: 32px;
		margin: 0 24px;
		background: var(--color-gray-9);
	}

	&--horizontal {
		display: flex;

		#{$block} {
			&__wrapper-horizontal {
				display: flex;
				flex-direction: column;
				flex-shrink: 0;
				gap: 4px;
			}
		}
	}

	&--backgroundOff {
		background: transparent;
		border: none;
		padding: 0;
	}
}
