.category {
	padding: calc(380px + 56px) 0 0;

	@include xl {
		padding: calc(380px + 56px) 24px 0;
	}

	&__wrapper-title {
		display: flex;
		justify-content: space-between;
		max-width: var(--max-width);
		margin: 0 auto 24px;

		@include sm {
			flex-direction: column;
			gap: 12px;
		}
	}

	&__title {
		max-width: var(--max-width);
		margin: 0 auto 24px;
	}

	&__popular-goals {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		max-width: var(--max-width);
		margin: 0 auto 56px;

		@include md {
			flex-direction: column;
		}
	}

	&__popular-goal {
		width: calc(100% / 4 - (24px * 3 / 4));

		@include lg {
			width: calc(100% / 2 - (24px * 1 / 2));
		}

		@include md {
			width: 100%;
		}
	}

	&__popular-lists {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		max-width: var(--max-width);
		margin: 0 auto 56px;

		@include lg {
			flex-direction: column;
		}
	}

	&__popular-list {
		width: calc(100% / 2 - (24px * 1 / 2));

		@include lg {
			width: 100%;
		}
	}

	&__all-goals {
		max-width: var(--max-width);
		padding-bottom: 24px;
		margin: 0 auto;
	}

	&--sub {
		padding: calc(230px + 56px) 0 0;
	}

	&--empty {
		padding: calc(230px + 56px) 0 0;

		@include xl {
			padding: calc(230px + 56px) 24px 0;
		}
	}

	&--all {
		padding: 56px;

		@include lg {
			padding: 56px 32px;
		}
	}
}
