.category {
	padding: calc(380px + 56px) 0 0;

	&--sub {
		padding: calc(230px + 56px) 0 0;
	}

	&--empty {
		padding: calc(230px + 56px) 0 0;
	}

	&--all {
		padding: 56px;
	}

	&__title {
		max-width: var(--max-width);
		margin: 0 auto 24px;
	}

	&__popular-goals {
		display: flex;
		gap: 24px;
		max-width: var(--max-width);
		margin: 0 auto 56px;
	}

	&__popular-goal {
		width: calc(100% / 4 - (24px * 3 / 4));
	}

	&__popular-lists {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		max-width: var(--max-width);
		margin: 0 auto 56px;
	}

	&__popular-list {
		width: calc(100% / 2 - (24px * 1 / 2));
	}

	&__all-goals {
		max-width: var(--max-width);
		margin: 0 auto;
	}
}
