.progress {
	$block: &;

	display: flex;
	align-items: center;
	gap: 8px;
	padding: 4px 8px;
	border: 1px solid var(--color-border);
	border-radius: 16px;
	font-size: 12px;
	line-height: var(--line-height-12);

	&__line {
		position: relative;
		width: 56px;
		height: 4px;
		background: var(--color-secondary);
		border-radius: 2px;
	}

	&__line-done {
		position: absolute;
		top: 0;
		left: 0;
		height: 4px;
		background: var(--color-primary);
		border-radius: 2px;

		&--all {
			background: var(--color-sentiment-positive);
		}
	}

	&--goal {
		gap: 8px;
		width: 100%;
		padding: 0;
		border: none;

		#{$block} {
			&__line {
				width: 100%;
			}

			&__count {
				padding: 2px 8px;
				background: var(--color-white);
				border: 1px solid var(--color-border);
				border-radius: 6px;
				font-size: 14px;
				font-weight: var(--weight-medium);
			}
		}
	}

	&--barPlain {
		gap: 8px;
		width: 100%;
		padding: 0;
		border: none;
		border-radius: 0;

		#{$block}__line {
			width: 100%;
		}

		#{$block}__count {
			padding: 0;
			background: transparent;
			border: none;
			border-radius: 0;
			font-size: 12px;
			font-weight: var(--weight-medium);
		}
	}

	&--text {
		gap: 8px;
		width: 100%;
		padding: 0;
		border: none;

		#{$block} {
			&__line {
				width: 100%;
			}

			&__count {
				padding: 2px 8px;
				background: var(--color-white);
				border: 1px solid var(--color-border);
				border-radius: 4px;
			}
		}
	}

	&--numbers {
		width: fit-content;

		#{$block}__line {
			display: none;
		}
	}
}
