.user-self-dashboard {
	flex: 1;
	min-width: 0;

	&__info-wrapper {
		display: grid;
		gap: 24px;
		margin-bottom: 56px;
		grid-template-columns: 1fr 1fr 1fr;

		@include xl {
			grid-template-columns: 1fr 1fr;
			gap: 16px;
		}

		@include lg {
			grid-template-columns: 1fr;
		}

		@include md {
			margin-bottom: 24px;
		}
	}

	&__info-group {
		display: grid;
		gap: 24px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column: 1 / -1;

		@include lg {
			grid-template-columns: 1fr 1fr;
			gap: 16px;
		}

		@include md {
			grid-template-columns: 1fr;
		}
	}

	&__info {
		@include block-radius;

		color: var(--color-text);
	}

	&__info-title {
		margin-bottom: 4px;
		color: var(--color-text-secondary);
		font-size: 14px;
		font-weight: var(--weight-regular);
		line-height: var(--line-height-14);
	}

	&__info-count-wrapper {
		display: flex;
		gap: 24px;
	}

	&__info-count {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 22px;
		font-weight: var(--weight-semi-bold);
		line-height: var(--line-height-22);
	}

	&__title-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;
	}
}
