.categories {
	position: relative;
	max-width: var(--max-width);
	padding: 0;
	margin: 0 auto;
	background: var(--color-gray-3);

	@include xl {
		padding: 40px 0;
	}

	&__title {
		margin-bottom: 24px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 24px;
		width: 100%;

		&--variant-minimal {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 24px;
			width: 100%;

			@include lg {
				grid-template-columns: repeat(2, 1fr);
			}

			@include md {
				grid-template-columns: 1fr;
			}
		}

		&--variant-mixed {
			flex-direction: column;
			gap: 12px;
		}
	}

	&__item {
		flex: 1;
		min-width: calc(100% / 3 - (48px / 3));

		@include lg {
			min-width: calc(100% / 2 - (24px / 2));
		}

		@include md {
			min-width: 100%;
		}
	}
}
