.add-review {
	&__title {
		margin-bottom: 24px;
	}

	&__field {
		margin-bottom: 16px;
	}

	&__btns-wrapper {
		display: flex;
		gap: 8px;
		margin-top: 24px;
	}

	&__btn-add {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 72px;
		height: 72px;
		border: 1px var(--color-blue-1) dashed;
		border-radius: 8px;
		cursor: pointer;

		* {
			fill: var(--color-primary);
		}
	}

	&__field-title {
		margin-bottom: 16px;
		font-weight: var(--weight-medium);
	}

	&__dropzone {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}

	&__photos {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}

	&__photo-wrapper {
		position: relative;
		overflow: hidden;
		width: 72px;
		height: 72px;
		border-radius: 8px;
	}

	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__delete-photo {
		position: absolute;
		z-index: 1;
		top: 4px;
		right: 4px;
		background: rgb(var(--color-black-rgb) / 40%);
		border-radius: 6px;

		* {
			fill: var(--color-white);
		}
	}
}
