.add-review {
	$block: &;

	&__title {
		margin-bottom: 24px;
	}

	&__banner {
		margin-bottom: 16px;
	}

	&__field {
		margin-bottom: 16px;
	}

	&__btns-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		margin-top: 24px;
	}

	&__btns-right {
		display: flex;
		gap: 8px;

		&--full {
			width: 100%;
		}
	}

	&__btn-add {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 72px;
		height: 72px;
		border: 1px var(--color-blue-1) dashed;
		border-radius: 8px;
		cursor: pointer;

		* {
			fill: var(--color-primary);
		}

		&:hover {
			background: var(--color-secondary);
		}
	}

	&__field-title {
		margin-bottom: 16px;
		font-weight: var(--weight-medium);
	}

	&__existing-photos {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		margin-bottom: 12px;
	}

	&__dropzone {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;

		&--error {
			#{$block}__btn-add {
				border-color: var(--color-red-border);
			}
		}
	}

	&__photos {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}

	&__photo-wrapper {
		position: relative;
		overflow: hidden;
		width: 72px;
		height: 72px;
		border-radius: 8px;
	}

	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__delete-photo {
		position: absolute;
		z-index: 1;
		top: 4px;
		right: 4px;
		background: rgb(var(--color-black-rgb) / 40%);
		border-radius: 6px;
		backdrop-filter: blur(5px);

		* {
			fill: var(--color-white);
			width: 24px;
			height: 24px;
		}
	}
}
