.select {
	$block: &;

	position: relative;
	width: 100%;

	&__text {
		margin-bottom: 4px;
		font-weight: 500;
	}

	&__option {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 4px;
		width: 100%;
		padding: 10px 16px;
		background: var(--color-white);
		border: 1px solid var(--color-gray-4);
		border-radius: 8px;
		color: var(--color-text);
		font-weight: var(--weight-medium);
		cursor: pointer;

		&--isOpen {
			outline: 1px solid var(--color-primary);
		}

		&--placeholder {
			color: var(--color-text-secondary);
			font-weight: var(--weight-regular);
		}
	}

	&__option-text {
		display: -webkit-box;
		overflow-wrap: anywhere;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
		text-align: left;
	}

	&__list {
		position: absolute;
		z-index: 101;
		top: calc(100% + 2px);
		right: 0;
		display: block;
		width: 100%;
		max-height: 200px;
		padding: 0;
		margin: 0;
		background: var(--color-white);
		border-radius: 8px;
		list-style: none;
		box-shadow: 0 0 20px -2px rgb(var(--color-gray-rgb-8) / 8%);

		@include scrollbar;
	}

	&__item {
		padding: 10px;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background-color: var(--color-secondary-hover);
		}

		&--active {
			background-color: var(--color-white);
			color: var(--color-primary);
		}

		&--highlighted {
			background-color: var(--color-gray-5);
		}
	}

	&--filter {
		width: 200px;

		@include md {
			width: 100%;
		}

		#{$block} {
			&__option {
				flex-direction: row;
				justify-content: flex-start;
				padding: 10px;
				background: var(--color-secondary);
				border: none;
				border-radius: 8px;
			}

			&__list {
				width: max-content;
				border-radius: 4px;
				box-shadow: 0 2px 4px rgb(var(--color-black) / 10%);
			}
		}
	}

	// Добавляем стили для заблокированного состояния
	&--disabled {
		cursor: not-allowed;
		opacity: 0.7;

		#{$block} {
			&__option {
				background-color: var(--color-gray-5);
				cursor: not-allowed;
			}
		}
	}
}
