.select {
	position: relative;
	width: 200px;

	&__option {
		display: flex;
		align-items: center;
		gap: 4px;
		padding: 10px;
		cursor: pointer;
		background: var(--color-secondary);
		border-radius: 4px;
		font-weight: var(--weight-medium);
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		z-index: 101;
		top: 100%;
		right: 0;
		width: max-content;
		box-shadow: 0 2px 4px rgba(var(--color-black), 0.1);
		display: block;
		background: var(--color-white);
		border-radius: 4px;
	}

	&__item {
		padding: 10px;
		cursor: pointer;
		border-radius: 4px;

		&--active {
			color: var(--color-primary);
			background-color: var(--color-white);
		}

		&:hover {
			background-color: var(--color-secondary-hover);
		}
	}
}
