.select {
	$block: &;

	position: relative;
	width: 100%;

	&__text {
		margin-bottom: 4px;
		font-weight: var(--weight-medium);
	}

	&__option {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		width: 100%;
		min-width: 0;
		padding: 9px 16px;
		background: var(--color-white);
		border: 1px solid var(--color-gray-4);
		border-radius: 8px;
		color: var(--color-text);
		font-weight: var(--weight-medium);
		cursor: pointer;
		outline: none;
		line-height: var(--line-height-14);

		&--isOpen {
			border-color: var(--color-primary);
		}

		&--placeholder {
			color: var(--color-text-secondary);
			font-weight: var(--weight-regular);
		}
	}

	&--error {
		#{$block}__option {
			border-color: var(--color-red-border);
		}
	}

	&__option-text {
		min-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left;
	}

	&__option-input {
		flex: 1;
		min-width: 0;
		border: none;
		outline: none;
		background: transparent;
		font: inherit;
		color: inherit;
		padding: 0;

		&::placeholder {
			color: var(--color-text-secondary);
			font-weight: var(--weight-regular);
		}
	}

	&__list {
		position: absolute;
		z-index: 101;
		top: calc(100% + 4px);
		right: 0;
		display: block;
		width: 100%;
		max-height: 240px;
		padding: 8px;
		margin: 0;
		background: var(--color-white);
		border-radius: 8px;
		list-style: none;
		box-shadow: 0 -2px 20px rgb(var(--color-gray-rgb-8) / 8%);

		@include scrollbar;
	}

	&__search {
		margin-bottom: 4px;
	}

	&__search-input {
		width: 100%;
		padding: 6px 8px;
		border-radius: 6px;
		border: 1px solid var(--color-gray-4);
		font-size: 14px;
		outline: none;

		&:focus {
			border-color: var(--color-primary);
			box-shadow: 0 0 0 2px rgb(var(--color-primary-rgb) / 10%);
		}
	}

	&__item {
		padding: 8px;
		border-radius: 6px;
		cursor: pointer;

		&:hover {
			background-color: var(--color-secondary-hover);
		}

		&--active {
			background-color: var(--color-white);
			color: var(--color-primary);
		}
	}

	&--filter {
		width: max-content;

		@include md {
			width: 100%;
		}

		#{$block} {
			&__option {
				flex-direction: row;
				justify-content: flex-start;
				padding: 10px 16px;
				background: var(--color-secondary);
				border: none;
				border-radius: 8px;

				&--isOpen {
					outline: 2px solid rgb(var(--color-primary-rgb) / 40%);
				}
			}

			&__list {
				width: max-content;
				border-radius: 8px;
				padding: 8px;
				// box-shadow: 0 2px 4px rgb(var(--color-black) / 8%);
			}
		}
	}

	// Добавляем стили для заблокированного состояния
	&--disabled {
		cursor: not-allowed;
		opacity: 0.7;

		#{$block} {
			&__option {
				background-color: var(--color-gray-5);
				cursor: not-allowed;
			}
		}
	}
}
