.user-self-friends {
	flex: 1;

	&__header {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 32px;

		@include md {
			gap: 16px;
			margin-bottom: 24px;
		}
	}

	&__title {
		margin: 0;
		color: var(--color-text-primary);
		font-size: 32px;
		font-weight: 700;

		@include md {
			font-size: 24px;
		}
	}

	&__switch {
		align-self: flex-start;
	}

	&__content {
		flex: 1;
	}
}
