.user-self-friends {
	flex: 1;
	width: 100%;

	&__header {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 32px;

		@include md {
			gap: 16px;
			margin-bottom: 24px;
		}
	}

	&__title {
		margin: 0;
	}

	&__switch {
		align-self: flex-start;
	}

	&__content {
		flex: 1;
	}

	&__banner {
		margin-bottom: 16px;
	}

	&__search {
		flex: 1;
		padding: 8px;
		background: var(--color-white);
		border-radius: 8px;
		box-shadow: 0 2px 8px rgb(var(--color-black-rgb) / 8%);
	}
}
