.user-self-friends {
	flex: 1;

	&__header {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 32px;

		@include md {
			gap: 16px;
			margin-bottom: 24px;
		}
	}

	&__title {
		margin: 0;
	}

	&__switch {
		align-self: flex-start;
	}

	&__content {
		flex: 1;
	}
}
