.card {
	$block: &;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 8px;
	transition: all 0.15s ease-in-out;
	overflow: hidden;

	&:hover {
		outline: 1px solid var(--color-primary-hover);
		outline-offset: -1px;

		#{$block}__buttons {
			display: flex;
		}
	}

	&__gradient {
		display: flex;
		max-height: 192px;

		// height: 100%;
		// overflow: hidden;
	}

	&__img-tags {
		display: flex;
		width: 100%;
	}

	&__img-tag-icon-done {
		* {
			fill: var(--color-sentiment-positive);
		}
	}

	&__img-tag-category {
		margin-left: auto;
	}

	&__info {
		padding: 16px 24px;
		border-top: none;
	}

	&__info-link {
		display: block;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__text {
		display: box;
		overflow: hidden;
		color: var(--color-text);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3; /* number of lines to show */
		line-clamp: 3;
	}

	&__tags-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 32px;
	}

	&__buttons {
		display: none;
		gap: 8px;
	}

	&__btn-done {
		* {
			fill: var(--color-text);
		}

		&--active {
			* {
				fill: var(--color-white);
			}
		}
	}

	&--horizontal {
		flex-direction: row;
		justify-content: flex-start;

		#{$block} {
			&__gradient {
				width: 37%;
				max-height: 169px;
			}

			&__img-tags {
				flex-direction: row-reverse;
				justify-content: flex-end;
				gap: 4px;
			}

			&__img-tag-category {
				margin-left: 0;
			}

			&__info {
				width: 63%;
			}

			&__text {
				display: box;
				overflow: hidden;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				line-clamp: 2;
			}

			&__tags-wrapper {
				justify-content: flex-end;
				gap: 8px;
			}

			&__tags {
				margin-right: auto;
			}
		}
	}
}
