.card {
	$block: &;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 8px;
	overflow: hidden;
	outline: none;

	&:hover,
	&:focus-visible,
	&:focus {
		outline: 1px solid var(--color-primary-hover);
		outline-offset: -1px;

		#{$block}__buttons {
			display: flex;
		}
	}

	&__gradient {
		display: flex;
		height: 100%;
		min-height: 144px;
		max-height: 192px;
		border-radius: 8px;
		overflow: hidden;
	}

	&__img-tags {
		display: flex;
		width: 100%;
	}

	&__img-tag-icon-done {
		* {
			fill: var(--color-sentiment-positive);
		}
	}

	&__img-tag-category {
		margin-left: auto;
	}

	&__info {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 8px 16px;
		border-top: none;
	}

	&__info-link {
		display: block;
		margin-bottom: auto;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__text {
		display: -webkit-box;
		overflow-wrap: anywhere;
		overflow: hidden;
		color: var(--color-text);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3; /* number of lines to show */
		line-clamp: 3;
	}

	&__tags-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 32px;

		@include sm {
			flex-direction: column;
			align-items: end;
			height: auto;
		}
	}

	&__buttons-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
	}

	&__buttons {
		display: flex;
		gap: 8px;

		@media (width >= 768px) {
			display: none;
		}
	}

	&__btn-done {
		* {
			fill: var(--color-text);
		}

		&--active {
			* {
				fill: var(--color-white);
			}
		}
	}

	&--horizontal {
		flex-direction: row;
		justify-content: flex-start;

		#{$block} {
			&__gradient {
				width: 37%;
			}

			&__title {
				display: -webkit-box;
				overflow: hidden;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				overflow-wrap: anywhere;
			}

			&__img-tags {
				flex-direction: row-reverse;
				justify-content: flex-end;
				gap: 4px;
			}

			&__img-tag-category {
				margin-left: 0;
			}

			&__info {
				width: 63%;
			}

			&__text {
				display: -webkit-box;
				overflow-wrap: anywhere;
				overflow: hidden;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				line-clamp: 2;
			}

			&__tags-wrapper {
				justify-content: flex-end;
				gap: 8px;

				@include sm {
					justify-content: space-between;
				}
			}

			&__tags {
				margin-right: auto;
			}
		}
	}
}
