.comment-goal {
	padding: 16px;
	border: 1px solid var(--color-gray-9);
	border-radius: 16px;
	background: var(--color-white);

	&__info {
		margin-bottom: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__user-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__user-img {
		margin-right: 8px;
		width: 48px;
		height: 48px;
		border-radius: 50%;
	}

	&__user-level {
		font-size: 12px;
		line-height: var(--line-height-12);
		color: var(--color-gray-10);
	}

	&__user-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__comment-info {
		display: flex;
		gap: 8px;
	}

	&__date {
		color: var(--color-text-secondary);
	}

	&__vertical-line {
		display: block;
		width: 1px;
		height: auto;
		background: var(--color-gray-9);
	}

	&__text {
		margin-bottom: 16px;
	}

	&__comment-images {
		margin-bottom: 16px;
		display: flex;
		gap: 8px;
	}

	&__comment-img {
		border-radius: 8px;
		width: 72px;
		height: 72px;
	}

	&__score {
		display: flex;
		gap: 4px;
	}
}
