.comment-goal {
	padding: 16px;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 16px;

	&__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		margin-bottom: 16px;
	}

	&__user-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
	}

	&__goal-img {
		width: 56px;
		height: 56px;
		border-radius: 6px;
		object-fit: cover;
	}

	&__user-img {
		width: 48px;
		height: 48px;
		margin-right: 8px;
		border-radius: 50%;
	}

	&__user-level {
		color: var(--color-gray-1);
		font-size: 12px;
		line-height: var(--line-height-12);
	}

	&__user-wrapper {
		display: flex;
		flex-direction: column;

		&--goal {
			gap: 8px;
		}
	}

	&__goal-info {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__comment-info {
		display: flex;
		gap: 8px;

		@include sm {
			flex-direction: column;
		}
	}

	&__date {
		color: var(--color-text-secondary);
	}

	&__vertical-line {
		display: block;
		width: 1px;
		height: auto;
		background: var(--color-gray-9);

		@include sm {
			display: none;
		}
	}

	&__horizontal-line {
		height: 1px;
		margin-bottom: 16px;
		background: var(--color-gray-9);
		border: none;
	}

	&__text {
		margin-bottom: 16px;
	}

	&__comment-images-container {
		position: relative;
		overflow: hidden;
		margin-bottom: 16px;
	}

	&__comment-images {
		width: 100%;
	}

	&__comment-slide {
		width: auto;
	}

	&__comment-img {
		width: 72px;
		height: 72px;
		border-radius: 8px;
		cursor: pointer;
		object-fit: cover;

		&:focus {
			@include focus-outline;
		}
	}

	&__prev,
	&__next {
		position: absolute;
		z-index: 10;
		top: 50%;
		width: 24px;
		height: 24px;
		padding: 0;
		background: rgb(var(--color-white-rgb) / 40%);
		border-radius: 8px;
		backdrop-filter: blur(4px);
		transition: opacity 0.3s ease 0.5s, background 0.2s ease;
		transform: translateY(-50%);
	}

	&__prev {
		left: 4px;
	}

	&__next {
		right: 4px;
	}

	&__prev:hover,
	&__next:hover {
		background: rgb(var(--color-white-rgb) / 70%);
	}

	&__prev--disabled,
	&__next--disabled {
		opacity: 0;
	}

	&__prev--hard-disabled,
	&__next--hard-disabled {
		pointer-events: none;
	}

	&__score {
		display: flex;
		gap: 4px;
	}
}
