.comment-goal {
	padding: 16px;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 16px;

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 16px;
	}

	&__user-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
	}

	&__goal-img {
		width: 56px;
		height: 56px;
		border-radius: 4px;
		object-fit: cover;
	}

	&__user-img {
		width: 48px;
		height: 48px;
		margin-right: 8px;
		border-radius: 50%;
	}

	&__user-level {
		color: var(--color-gray-1);
		font-size: 12px;
		line-height: var(--line-height-12);
	}

	&__user-wrapper {
		display: flex;
		flex-direction: column;

		&--goal {
			gap: 8px;
		}
	}

	&__goal-info {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__comment-info {
		display: flex;
		gap: 8px;

		@include sm {
			flex-direction: column;
		}
	}

	&__date {
		color: var(--color-text-secondary);
	}

	&__vertical-line {
		display: block;
		width: 1px;
		height: auto;
		background: var(--color-gray-9);

		@include sm {
			display: none;
		}
	}

	&__horizontal-line {
		height: 1px;
		margin-bottom: 16px;
		background: var(--color-gray-9);
		border: none;
	}

	&__text {
		margin-bottom: 16px;
	}

	&__comment-images {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		margin-bottom: 16px;
	}

	&__comment-img {
		width: 72px;
		height: 72px;
		border-radius: 8px;
		object-fit: cover;

		&:focus {
			@include focus-outline;
		}
	}

	&__score {
		display: flex;
		gap: 4px;
	}
}
