.user-statistics {
	@include block-radius;

	&__wrapper {
		display: flex;
		gap: 24px;

		&--column {
			flex-direction: column;
			gap: 16px;
		}
	}

	&__level {
		display: grid;
		gap: 4px 8px;
		grid-template-columns: auto 1fr;
	}

	&__level-text {
		color: var(--color-text-secondary);
		grid-column: 1 / 3;
	}

	&__level-number {
		display: flex;
		align-items: center;
		gap: 8px;
		color: var(--color-text);
		font-size: 22px;
		font-weight: var(--weight-semi-bold);
		line-height: var(--line-height-22);
	}

	&__text {
		display: flex;
		flex-shrink: 0;
		justify-content: space-between;
		margin-bottom: 16px;

		& span:first-child {
			color: var(--color-text-secondary);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
