.main-popular-lists {
	&__title {
		margin-bottom: 24px;
	}

	&__lists {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__list {
		width: 100%;

		&--featured {
			@include md {
				.card__info {
					flex: 1.2;
				}
			}
		}
	}
}
