.report-comment {
	&__title {
		margin-bottom: 24px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__select .select__list {
		max-height: 125px;
		box-shadow: 0 2px 8px rgb(var(--color-black-rgb) / 8%);
	}

	&__btns-wrapper {
		display: flex;
		gap: 8px;
		margin-top: 24px;

		@include xs {
			flex-direction: column;
		}
	}
}
