.filters-checkbox {
	position: relative;
	width: auto;

	// max-width: 240px;

	&__option {
		display: flex;
		align-items: center;
		gap: 4px;
		max-width: 240px;
		padding: 10px 16px;
		background: var(--color-secondary);
		border-radius: 4px;
		color: var(--color-text);
		cursor: pointer;
	}

	&__option-text {
		display: block;
		overflow: hidden;
		max-width: calc(240px - 32px - 16px);
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__head {
		padding: 8px;
		cursor: pointer;

		&--active {
			color: var(--color-primary);
		}
	}

	&__list {
		position: absolute;
		z-index: 101;
		top: 100%;
		left: 0;
		display: block;
		width: max-content;
		padding: 8px;
		margin: 0;
		background: var(--color-white);
		border-radius: 4px;
		color: var(--color-text-primary);
		list-style: none;
		box-shadow: 0 0 20px -2px rgb(var(--color-text-primary-rgb) / 8%);
	}

	&__item {
		border-radius: 4px;
		cursor: pointer;
		transition: all 0.15s ease-in-out;

		&:hover {
			background: var(--color-secondary-hover);
		}

		&--active {
			color: var(--color-primary);
		}

		&--selected {
			color: var(--color-primary);
		}
	}

	&__checkbox {
		width: 100%;
		padding: 8px;
	}
}
