.header {
	$block: &;

	position: fixed;
	z-index: 110;
	top: 0;
	width: 100%;
	height: var(--height-header);
	padding: 16px 0;
	border-bottom: 1px solid rgb(var(--color-white-rgb) 0.16);

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1440px;
		margin: 0 auto;
	}

	&__logo {
		height: 27px;
	}

	&__nav {
		display: flex;
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4px;
	}

	&__item {
		list-style: none;
	}

	&__item-link {
		display: inline-block;
		padding: 6px 16px;
		border-radius: 16px;
		color: var(--color-white);

		&--active {
			background: var(--color-white);
			color: var(--color-text);
			font-weight: 500;
		}
	}

	&__profile {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__avatar {
		border-radius: 50%;
	}

	&__nickname {
		color: var(--color-white);
	}

	&--theme-white {
		background: var(--color-white);
		border-color: rgb(var(--color-black-rgb) 0.16);

		#{$block} {
			&__item-link {
				color: var(--color-text);

				&--active {
					background: var(--color-secondary);
					color: var(--color-text-primary);
				}
			}

			&__nickname {
				color: var(--color-text);
			}
		}
	}

	&--theme-transparent {
		#{$block} {
			&__logo {
				path {
					fill: var(--color-white);
				}
			}
		}
	}
}
