.header {
	$block: &;

	position: fixed;
	z-index: 1100;
	top: 0;
	width: 100%;
	height: var(--height-header);
	padding: 16px 0;
	border-bottom: 1px solid rgb(var(--color-white-rgb) / 16%);

	&__wrapper {
		@include max-width;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		height: 27px;
	}

	&__nav {
		display: flex;
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4px;
	}

	&__item {
		list-style: none;
	}

	&__item-link {
		display: inline-block;
		padding: 6px 16px;
		border-radius: 16px;
		color: var(--color-white);
		font-weight: var(--font-weight-medium);
		transition: all 0.15s ease-in-out;

		&:hover,
		&:active {
			background: rgb(var(--color-white-rgb) / 8%);
		}

		&--active {
			background: var(--color-white);
			color: var(--color-text);
		}
	}

	&__profile-wrapper {
		position: relative;
		padding: 4px 0;
		transition: all 0.15s ease-in-out;

		&:hover {
			#{$block} {
				&__profile-menu {
					opacity: 1;
					transform: translateY(0);
					visibility: visible;
				}
			}
		}
	}

	&__profile {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__avatar {
		border-radius: 50%;
	}

	&__nickname {
		color: var(--color-white);
	}

	&__profile-menu {
		position: absolute;
		top: 100%;
		right: 0;
		display: flex;
		flex-direction: column;
		width: max-content;
		padding: 8px;
		background: var(--color-white);
		border-radius: 8px;
		opacity: 0;
		transition: all 0.2s ease;
		transform: translateY(-10px);
		visibility: hidden;
		box-shadow: 0 0 20px -2px rgb(var(--color-gray-rgb-8) / 8%);
	}

	&__menu-item {
		display: flex;
		padding: 8px;
		color: var(--color-text-primary);
	}

	&--theme-white {
		background: var(--color-white);
		border: 1px solid var(--color-border);

		#{$block} {
			&__item-link {
				color: var(--color-text);
				transition: all 0.15s ease-in-out;

				&:hover,
				&:active {
					background: var(--color-secondary-hover);
					color: var(--color-text);
				}

				&--active {
					background: var(--color-secondary);
					color: var(--color-text-primary);
				}
			}

			&__nickname {
				color: var(--color-text);
			}
		}
	}

	&--theme-transparent {
		#{$block} {
			&__logo {
				path {
					fill: var(--color-white);
				}
			}
		}
	}
}
