.user-self-subscription {
	width: 100%;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 16px;

		@include sm {
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
		}
	}

	&__title {
		margin: 0;
	}

	&__plans {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		margin-top: 20px;
		margin-bottom: 20px;

		@include lg {
			grid-template-columns: 1fr;
		}
	}
}
