//  stylelint-disable function-disallowed-list

:root {
	--color-white-rgb: 255 255 255; // #FFFFFF
	--color-white: rgb(var(--color-white-rgb)); // #FFFFFF
	--color-black-rgb: 0 0 0; // #000000
	--color-black: rgb(var(--color-black-rgb)); // #000000
	//////
	//////
	--color-gray-rgb-1: 113 131 149; // #718395
	--color-gray-1: rgb(var(--color-gray-rgb-1)); // #718395
	--color-gray-rgb-2: 115 118 126; // #73767E
	--color-gray-2: rgb(var(--color-gray-rgb-2)); // #73767E
	--color-gray-rgb-3: 251 252 253; // #FBFCFD
	--color-gray-3: rgb(var(--color-gray-rgb-3)); // #FBFCFD
	--color-gray-rgb-4: 214 228 239; // #D6E4EF
	--color-gray-4: rgb(var(--color-gray-rgb-4)); // #D6E4EF
	--color-gray-rgb-5: 232 240 248; // #E8F0F8
	--color-gray-5: rgb(var(--color-gray-rgb-5)); // #E8F0F8
	--color-gray-rgb-6: 245 250 254; // #F5FAFE
	--color-gray-6: rgb(var(--color-gray-rgb-6)); // #F5FAFE
	--color-gray-rgb-7: 67 87 106; // #43576A
	--color-gray-7: rgb(var(--color-gray-rgb-7)); // #43576A
	--color-gray-rgb-8: 56 65 73; // #384149
	--color-gray-8: rgb(var(--color-gray-rgb-8)); // #384149
	--color-gray-rgb-9: 231 238 244; // #E7EEF4
	--color-gray-9: rgb(var(--color-gray-rgb-9)); // #E7EEF4
	--color-gray-rgb-10: 241 244 255; // #F1F4FF
	--color-gray-10: rgb(var(--color-gray-rgb-10)); // #F1F4FF
	//////
	//////
	--color-blue-rgb-1: 0 70 207; // #0046CF
	--color-blue-1: rgb(var(--color-blue-rgb-1)); // #0046CF
	--color-blue-rgb-2: 0 179 255; // #00B3FF
	--color-blue-2: rgb(var(--color-blue-rgb-2)); // #00B3FF
	--color-blue-rgb-3: 58 137 216; // #3A89D8
	--color-blue-3: rgb(var(--color-blue-rgb-3)); // #3A89D8
	--color-blue-rgb-4: 71 152 232; // #4798E8
	--color-blue-4: rgb(var(--color-blue-rgb-4)); // #4798E8
	--color-blue-rgb-5: 22 168 177; // #16A8B1
	--color-blue-5: rgb(var(--color-blue-rgb-5)); // #16A8B1
	--color-blue-rgb-6: 22 84 177; // #168491
	--color-blue-6: rgb(var(--color-blue-rgb-6)); // #168491
	//////
	//////
	--color-pink-rgb: 199 53 202; // #C735CA
	--color-pink: rgb(var(--color-pink-rgb)); // #C735CA
	//////
	//////
	--color-orange-rgb: 255 107 0; // #FF6B00
	--color-orange: rgb(var(--color-orange-rgb)); // #FF6B00
	--color-orange-rgb-2: 247 144 9; // #F79009
	--color-orange-2: rgb(var(--color-orange-rgb-2)); // #F79009
	//////
	//////
	--color-purple-rgb: 135 0 198; // #8700C6
	--color-purple: rgb(var(--color-purple-rgb)); // #8700C6
	--color-purple-rgb-2: 118 22 177; // #7616B1
	--color-purple-2: rgb(var(--color-purple-rgb-2)); // #7616B1
	//////
	//////
	--color-brown-rgb: 255 234 222; // #FFEAD6
	--color-brown: rgb(var(--color-brown-rgb)); // #FFEAD6
	//////
	//////
	--color-green-rgb-1: 25 177 22; // #0DA300
	--color-green-1: rgb(var(--color-green-rgb-1)); // #0DA300
	--color-green-rgb-2: 33 171 30; // #21AB1E
	--color-green-2: rgb(var(--color-green-rgb-2)); // #21AB1E
	--color-green-rgb-3: 3 152 36; // #039824
	--color-green-3: rgb(var(--color-green-rgb-3)); // #039824
	--color-green-rgb-4: 4 177 42; // #04B12A
	--color-green-4: rgb(var(--color-green-rgb-4)); // #04B12A
	--color-green-rgb-5: 100 177 22; // #64B116
	--color-green-5: rgb(var(--color-green-rgb-5)); // #64B116
	--color-green-rgb-6: 22 177 65; // #16B141
	--color-green-6: rgb(var(--color-green-rgb-6)); // #16B141
	//////
	--color-yellow-rgb: 255 184 0; // #FFB800
	--color-yellow: rgb(var(--color-yellow-rgb)); // #FFB800
	--color-yellow-rgb-2: 255 251 211; // #FFFBD3
	--color-yellow-2: rgb(var(--color-yellow-rgb-2)); // #FFFBD3
	--color-yellow-rgb-3: 177 161 22; // #B1A116
	--color-yellow-3: rgb(var(--color-yellow-rgb-3)); // #B1A116
	//////
	//////
	--color-red-rgb-1: 227 66 53; // #E34235
	--color-red-1: rgb(var(--color-red-rgb-1)); // #E34235
	--color-red-rgb-2: 248 53 37; // #F83525
	--color-red-2: rgb(var(--color-red-rgb-2)); // #F83525
	--color-red-rgb-3: 177 22 22; // #B11616
	--color-red-3: rgb(var(--color-red-rgb-3)); // #B11616
	//////
	//////
	--color-gold-rgb: 255 208 44; // #FFD02C
	--color-gold: rgb(var(--color-gold-rgb)); // #FFD02C
	--color-silver-rgb: 193 199 220; // #C1C7DC
	--color-silver: rgb(var(--color-silver-rgb)); // #C1C7DC
	--color-bronze-rgb: 225 171 141; // #E1AB8D
	--color-bronze: rgb(var(--color-bronze-rgb)); // #E1AB8D
	//////
	//////
	--color-primary-rgb: var(--color-blue-rgb-3); // #3A89D8
	--color-primary: var(--color-blue-3); // #3A89D8
	--color-primary-hover-rgb: var(--color-blue-rgb-4); // #4798E8
	--color-primary-hover: var(--color-blue-4); // #4798E8
	--color-secondary: var(--color-gray-5); // #E8F0F8
	--color-secondary-hover: var(--color-gray-6); // #F5FAFE
	--color-text: var(--color-gray-7); // #43576A
	--color-text-primary: var(--color-gray-8); // #384149
	--color-text-primary-rgb: var(--color-gray-rgb-8); // #384149
	--color-text-secondary: var(--color-gray-1); // #718395

	//////
	//////
	--color-education: var(--color-purple-2); // #7616B1
	--color-education-rgb: var(--color-purple-rgb-2); // #7616B1
	--color-travel: var(--color-green-5); // #64B116
	--color-travel-rgb: var(--color-green-rgb-5); // #64B116
	--color-health-and-sport: var(--color-blue-5); // #16A8B1
	--color-health-and-sport-rgb: var(--color-blue-rgb-5); // #16A8B1
	--color-relations: var(--color-red-3); // #B11616
	--color-relations-rgb: var(--color-red-rgb-3); // #B11616
	--color-entertainment: var(--color-yellow-3); // #B1A116
	--color-entertainment-rgb: var(--color-yellow-rgb-3); // #B1A116

	/* Подкатегории - Образование и профессиональный рост (education) */
	--color-career-success: color-mix(
		in srgb,
		var(--color-education) 90%,
		var(--color-white) 10%
	); // Оттенок фиолетового для карьерного успеха

	--color-career-success-rgb: 126 38 179; // #7E26B3
	--color-intellectual-development: color-mix(
		in srgb,
		var(--color-education) 80%,
		var(--color-white) 20%
	); // Более светлый оттенок для интеллектуального развития

	--color-intellectual-development-rgb: 133 53 186; // #8535BA

	/* Подкатегории - Здоровье и физическое развитие (health-and-sport) */
	--color-sport: color-mix(in srgb, var(--color-health-and-sport) 90%, var(--color-white) 10%); // Оттенок сине-зеленого для спорта
	--color-sport-rgb: 35 173 178; // #23ADB2
	--color-wellness-and-health: color-mix(
		in srgb,
		var(--color-health-and-sport) 80%,
		var(--color-white) 20%
	); // Более светлый оттенок для здоровья

	--color-wellness-and-health-rgb: 49 179 183; // #31B3B7

	/* Подкатегории - Развлечения, Искусство и Хобби (entertainment) */
	--color-hobby: color-mix(in srgb, var(--color-entertainment) 95%, var(--color-white) 5%); // Оттенок желто-коричневого для хобби
	--color-hobby-rgb: 180 165 39; // #B4A527
	--color-musical-experiences: color-mix(
		in srgb,
		var(--color-entertainment) 90%,
		var(--color-white) 10%
	); // Оттенок для музыкальных впечатлений

	--color-musical-experiences-rgb: 184 170 48; // #B8AA30
	--color-creative-arts: color-mix(in srgb, var(--color-entertainment) 85%, var(--color-white) 15%); // Оттенок для творческих искусств
	--color-creative-arts-rgb: 187 174 56; // #BBAE38
	--color-gaming: color-mix(in srgb, var(--color-entertainment) 80%, var(--color-white) 20%); // Оттенок для игровых вселенных
	--color-gaming-rgb: 191 178 65; // #BFB241
	--color-cinema-art: color-mix(in srgb, var(--color-entertainment) 75%, var(--color-white) 25%); // Оттенок для киноискусства
	--color-cinema-art-rgb: 195 182 73; // #C3B649
	--color-books: color-mix(in srgb, var(--color-entertainment) 70%, var(--color-white) 30%); // Оттенок для литературных миров
	--color-books-rgb: 198 186 82; // #C6BA52

	/* Подкатегории - Отношения и связи (relations) */
	--color-community-contribution: color-mix(
		in srgb,
		var(--color-relations) 85%,
		var(--color-white) 15%
	); // Оттенок красного для общественного вклада

	--color-community-contribution-rgb: 185 45 45; // #B92D2D
	--color-romantic-moments: color-mix(
		in srgb,
		var(--color-relations) 75%,
		var(--color-white) 25%
	); // Более светлый оттенок для романтических моментов

	--color-romantic-moments-rgb: 192 68 68; // #C04444

	/* Подкатегории - Путешествия и открытия (travel) */
	--color-cultural-immersion: color-mix(
		in srgb,
		var(--color-travel) 90%,
		var(--color-white) 10%
	); // Оттенок зеленого для культурного погружения

	--color-cultural-immersion-rgb: 110 183 36; // #6EB724
	--color-culinary-explorations: color-mix(
		in srgb,
		var(--color-travel) 80%,
		var(--color-white) 20%
	); // Более светлый оттенок для гастрономических открытий

	--color-culinary-explorations-rgb: 120 189 50; // #78BD32
	--color-unique-places: color-mix(
		in srgb,
		var(--color-travel) 70%,
		var(--color-white) 30%
	); // Еще более светлый оттенок для уникальных мест

	--color-unique-places-rgb: 129 195 64; // #81C340

	/* Специальная категория */
	--color-100-goals: var(--color-gold); // #FFD02C - Золотой цвет для 100 целей
	--color-100-goals-rgb: var(--color-gold-rgb); // 255 208 44
	//////
	//////
	--color-border: var(--color-gray-9); // #E7EEF4
	--color-sentiment-positive: var(--color-green-3); // #039824
	--color-sentiment-positive-hover: var(--color-green-4); // #04B12A
	--color-sentiment-negative: var(--color-red-1); // #E34235
	--color-sentiment-negative-hover: var(--color-red-2); // #F83525
	--color-sentiment-warning: var(--color-orange-2); // #F79009

	//////
	//////
	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semi-bold: 600;
	--weight-bold: 700;

	//////
	//////
	--line-height-12: 16px;
	--line-height-14: 20px;
	--line-height-16: 24px;
	--line-height-22: 32px;
	--line-height-40: 52px;

	//////
	//////
	--height-header: 65px;
	--height-header-goal: 340px;
	--max-width: 1416px;
}
