$main-categories: (
	'travel',
	'education',
	'health-and-sport',
	'relations',
	'entertainment',
	'100-goals',
	'career-success',
	'intellectual-development',
	'sport',
	'hobby',
	'musical-experiences',
	'creative-arts',
	'gaming',
	'cinema-art',
	'books',
	'community-contribution',
	'romantic-moments',
	'unique-places',
	'culinary-explorations',
	'cultural-immersion',
	'wellness-and-health'
);

@mixin max-width {
	max-width: 1416px;
	margin: 0 auto;
}

@mixin block-radius($padding: 16px 24px, $background: var(--color-white)) {
	padding: $padding;
	background: $background;
	border: 1px solid var(--color-gray-9);
	border-radius: 8px;
}

@mixin focus-outline {
	outline: 2px solid rgb(var(--color-primary-rgb) / 40%);
}

@mixin category-tag($category) {
	background: var(--color-#{$category});
	border: none;
	color: var(--color-white);
}

// Миксин для градиентов категорий
@mixin category-gradient($category, $opacity-start: 0%, $opacity-step1: 10%, $opacity-step2: 20%, $opacity-step3: 30%) {
	background: linear-gradient(
		180deg,
		rgb(var(--color-#{$category}-rgb) / #{$opacity-start}) 0%,
		rgb(var(--color-#{$category}-rgb) / #{$opacity-step1}) 10%,
		rgb(var(--color-#{$category}-rgb) / #{$opacity-step2}) 20%,
		rgb(var(--color-#{$category}-rgb) / #{$opacity-step3}) 30%,
		var(--color-black) 100%
	);
}

@mixin category-gradient-without-black($category) {
	background: linear-gradient(180deg, rgb(var(--color-#{$category}-rgb) / 50%) 0%, rgb(var(--color-#{$category}-rgb) / 100%) 100%);
}

// Миксин для градиентов заголовков категорий
@mixin category-header-gradient($category, $opacity-start: 50%, $opacity-step1: 55%, $opacity-step2: 60%, $opacity-step3: 65%) {
	background: linear-gradient(
		180deg,
		rgb(var(--color-#{$category}-rgb) / #{$opacity-start}) 0%,
		rgb(var(--color-#{$category}-rgb) / #{$opacity-step1}) 10%,
		rgb(var(--color-#{$category}-rgb) / #{$opacity-step2}) 20%,
		rgb(var(--color-#{$category}-rgb) / #{$opacity-step3}) 30%,
		var(--color-black) 100%
	);
}
