@charset "UTF-8";
@import 'custom-properties';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap';

:root {
	box-sizing: border-box;
	color: var(--color-text);
}

// Добавляем минимальную ширину для всего приложения
html,
body {
	min-width: 360px;
}

/* Box-sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	line-height: var(--line-height-14);
	scroll-behavior: smooth;
	text-rendering: optimizespeed;
}

/* Remove list styles ul ol elements */
ul,
ol {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

/* A elements that dont have class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

button {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	box-shadow: none;
}

.test {
	margin: 0;
}

.date-picker {
	.react-datepicker-wrapper {
		width: 100%;
	}
}
