.leaders {
	@include max-width;

	display: grid;
	gap: 56px 24px;
	padding: 56px 0 96px;
	grid-template-columns: 1fr 1fr;

	@include xl {
		padding: 56px 24px 96px;
	}

	@include md {
		gap: 40px 30px;
		padding: 40px 24px 96px;
	}

	@include sm {
		gap: 30px;
	}

	&__wrapper {
		grid-column: 1 / 2;
		grid-row: 1 / 3;

		@include lg {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
		}
	}

	&__title {
		margin-bottom: 16px;
	}

	&__info {
		grid-column: 1 / 2;
		grid-row: 3 / 4;

		@include md {
			grid-column: 1 / 3;
		}

		@include sm {
			grid-row: 3 / 4;
		}
	}

	&__ranking {
		display: flex;
		flex-direction: column;
		gap: 16px;
		grid-column: 1 / 3;
		grid-row: 4 / 5;

		@include md {
			gap: 12px;
		}
	}

	&__tabs {
		display: flex;
		width: fit-content;
		padding: 2px;
		background: var(--color-secondary);
		border-radius: 6px;
	}

	&__tab {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2px;
		padding: 6px 16px;
		border: none;
		border-radius: 8px;
		background: transparent;
		color: var(--color-text-primary);
		font-weight: var(--weight-medium);
		cursor: pointer;
		text-align: left;
		text-wrap: nowrap;

		&--active {
			background: var(--color-white);
			color: var(--color-text);
		}
	}

	&__tab-label {
		line-height: var(--line-height-14);
	}

	&__tab-range {
		color: var(--color-text-secondary);
		font-size: 12px;
		font-weight: var(--weight-regular);
		line-height: var(--line-height-12);
	}

	&__pedestal {
		height: min-content;
		grid-column: 2 / 3;
		grid-row: 1 / 4;

		@include lg {
			grid-column: 1 / 3;
			grid-row: 2 / 3;
		}
	}

	&__board {
		overflow-x: auto;
	}

	&__empty {
		font-size: 24px;
		font-weight: var(--weight-medium);
		line-height: 1.5;
		text-align: center;
	}
}
