.goal {
	position: relative;
	background: var(--color-gray-12);

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 318px;
		width: 100%;
		height: 416px;
		background: linear-gradient(
			180deg,
			rgba(var(--color-green-rgb), 0.04) 0%,
			rgba(var(--color-gray-rgb-12), 0) 100%
		);
	}

	&__wrapper {
		margin: 0 auto;
		position: relative;
		max-width: 1440px;
		display: flex;
		align-items: flex-start;
		gap: 24px;
	}

	&__aside {
		z-index: 2;
		position: sticky;
		top: 160px;
		transform: translateY(-132px);
	}

	&__content {
		width: 100%;
		padding: 40px 0;
	}
}
