.goal {
	position: relative;
	padding: var(--height-header-goal) 0 0;
	background: var(--color-gray-3);

	&::before {
		z-index: -1;
		content: '';
		display: block;
		position: absolute;
		top: 318px;
		width: 100%;
		height: 416px;
		background: linear-gradient(180deg, rgba(var(--color-green-rgb), 0.04) 0%, rgba(var(--color-gray-rgb-12), 0) 100%);
	}

	&__wrapper {
		margin: 0 auto;
		position: relative;
		max-width: 1440px;
		display: flex;
		align-items: flex-start;
		gap: 24px;
	}

	&__aside {
		margin-bottom: -93px;
		z-index: 13;
		position: sticky;
		top: 284px;
		transform: translateY(-132px);
	}

	&__content {
		width: 100%;
		padding: 40px 0;
	}
}
