.regular-goal-history {
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;

		@include lg {
			grid-template-columns: repeat(2, 1fr);
		}

		@include md {
			grid-template-columns: 1fr;
			gap: 16px;
		}
	}
}
