.regular-goal-rating {
	$block: &;

	width: 100%;
	padding: 16px 24px;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 8px;

	@include md {
		padding: 16px;
	}

	&__board {
		overflow-x: auto;
	}

	&__table {
		width: 100%;
		min-width: 600px;
		border-collapse: collapse;

		@include sm {
			min-width: 500px;
		}
	}

	&__header {
		border-bottom: 1px solid var(--color-gray-9);
	}

	&__head-item {
		width: 1%;
		padding: 8px 16px;
		font-weight: var(--weight-medium);
		text-align: left;
		white-space: nowrap;

		&:first-child {
			width: 60px;
			padding: 8px 21px;
			text-align: center;

			@include md {
				padding: 8px 12px;
			}
		}

		&:nth-child(2) {
			width: 100%;
		}

		&:nth-child(3),
		&:nth-child(4) {
			width: 150px;
			text-align: center;

			@include md {
				width: 120px;
				padding: 8px 12px;
			}
		}

		@include md {
			padding: 8px 12px;
			font-size: 13px;
		}
	}

	&__row {
		border-bottom: 1px solid var(--color-gray-9);

		&:last-child {
			border: none;
		}
	}

	&__item {
		width: 1%;
		padding: 8px 16px;
		text-align: left;

		&:first-child {
			padding: 8px 21px;
			font-weight: var(--weight-medium);
			text-align: center;

			@include md {
				padding: 8px 12px;
			}
		}

		&:nth-child(3),
		&:nth-child(4) {
			text-align: center;

			@include md {
				padding: 8px 12px;
			}
		}

		@include md {
			padding: 8px 12px;
			font-size: 13px;
		}
	}

	&__row-link {
		display: grid;
		align-items: center;
		gap: 4px 8px;
		width: 100%;
		color: var(--color-text);
		grid-template-columns: 44px 1fr;

		@include md {
			gap: 4px;
			grid-template-columns: 40px 1fr;
		}
	}

	&__avatar {
		grid-row: 1 / 3;

		@include md {
			width: 40px;
			height: 40px;
		}
	}

	&__loading,
	&__empty {
		padding: 24px;
		color: var(--color-text-secondary);
		text-align: center;
	}
}
