.regular-goal-rating {
	$block: &;

	width: 100%;
	padding: 16px 24px;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 8px;

	&__table {
		width: 100%;
		border-collapse: collapse;
	}

	&__header {
		border-bottom: 1px solid var(--color-gray-9);
	}

	&__head-item {
		width: 1%;
		padding: 8px 16px;
		font-weight: var(--weight-medium);
		text-align: left;
		white-space: nowrap;

		&:first-child {
			width: 60px;
			padding: 8px 21px;
			text-align: center;
		}

		&:nth-child(2) {
			width: 100%;
		}

		&:nth-child(3),
		&:nth-child(4) {
			width: 150px;
			text-align: center;
		}
	}

	&__row {
		border-bottom: 1px solid var(--color-gray-9);

		&:last-child {
			border: none;
		}
	}

	&__item {
		width: 1%;
		padding: 8px 16px;
		text-align: left;

		&:first-child {
			padding: 8px 21px;
			font-weight: var(--weight-medium);
			text-align: center;
		}

		&:nth-child(3),
		&:nth-child(4) {
			text-align: center;
		}
	}

	&__row-link {
		display: grid;
		align-items: center;
		gap: 4px 8px;
		width: 100%;
		color: var(--color-text);
		grid-template-columns: 44px 1fr;
	}

	&__avatar {
		grid-row: 1 / 3;
	}

	&__loading,
	&__empty {
		padding: 24px;
		color: var(--color-text-secondary);
		text-align: center;
	}
}
