.login {

	&__logo {
		margin-bottom: 8px;
		display: flex;
		justify-content: center;
	}

	&__title {
		margin-bottom: 24px;
		text-align: center;
	}

	&__field {
		margin-bottom: 16px;
	}

	&__move {
		margin-bottom: 24px;
		display: flex;
		justify-content: space-between;
	}

	&__btn {
		margin-bottom: 16px;
	}

	&__registration {
		display: flex;
		justify-content: center;
		color: var(--color-text-secondary);
	}

	&__btn-registration {
		margin-left: 4px;
	}
}
