.login {
	$block: &;

	&__logo {
		display: flex;
		justify-content: center;
		margin-bottom: 8px;
	}

	&__title {
		margin-bottom: 24px;
		text-align: center;
	}

	&__field {
		margin-bottom: 16px;
	}

	&__error {
		margin-bottom: 14px;
		color: var(--color-red-1);
		font-weight: var(--weight-medium);
	}

	&__move {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		margin-bottom: 24px;
	}

	&__forgot-password {
		font-size: 14px;
		white-space: nowrap;
	}

	&__btn {
		margin-bottom: 16px;
	}

	&__registration {
		display: flex;
		justify-content: center;
		color: var(--color-text-secondary);
	}

	&__btn-registration {
		margin-left: 4px;
	}

	&--page {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;

		#{$block} {
			&__form {
				width: 456px;
				padding: 24px;
				background-color: var(--color-white);
				border: 1px solid var(--color-gray-9);
				border-radius: 8px;
			}
		}
	}
}
