.avatar {
	$block: &;

	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	background: var(--color-gray-3);
	border: 4px solid var(--color-white);
	border-radius: 50%;
	overflow: hidden;

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: 50%;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&--noBorder {
		border: none;
	}

	&--size-large {
		flex-shrink: 1;
		width: 196px;
		min-width: 0;
		max-width: 100%;
		height: auto;
		aspect-ratio: 1;

		#{$block}__icon {
			width: 96px;
			height: 96px;
		}

		@include sm {
			width: 160px;
			height: 160px;

			#{$block}__icon {
				width: 80px;
				height: 80px;
			}
		}
	}

	&--size-large-96 {
		width: 96px;
		height: 96px;

		#{$block}__icon {
			width: 48px;
			height: 48px;
		}
	}

	&--size-medium-56 {
		width: 56px;
		height: 56px;

		#{$block}__icon {
			width: 32px;
			height: 32px;
		}
	}

	&--size-medium {
		width: 40px;
		height: 40px;

		#{$block}__icon {
			width: 24px;
			height: 24px;
		}
	}

	&--size-small {
		width: 24px;
		height: 24px;

		#{$block}__icon {
			width: 16px;
			height: 16px;
		}
	}

	&--premium {
		position: relative;
		overflow: visible;
		border: 2px solid var(--color-gold);
		box-shadow: 0 0 8px var(--color-gold);
	}

	&__premium-badge {
		position: absolute;
		z-index: 10;
		top: -2px;
		right: -2px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__premium-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--color-gold);

		svg {
			fill: var(--color-gold);
			stroke: var(--color-gold);
		}
	}
}
