.card-main {
	$block: &;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 8px;
	overflow: hidden;

	&:hover,
	&:focus-visible,
	&:focus {
		outline: 1px solid var(--color-primary-hover);
		outline-offset: -1px;
	}

	&__gradient {
		display: flex;
		min-height: 100%;
		max-height: 216px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	&__img-tags {
		display: flex;
		width: 100%;
	}

	&__img-tag-icon-done {
		* {
			fill: var(--color-sentiment-positive);
		}
	}

	&__img-tag-category {
		margin-left: auto;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__text {
		display: -webkit-box;
		overflow-wrap: anywhere;
		overflow: hidden;
		color: var(--color-white);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2; /* number of lines to show */
		line-clamp: 2;
	}

	&__line {
		display: none;
		visibility: hidden;
		opacity: 0;
	}

	&__btn {
		display: none;
		visibility: hidden;
		opacity: 0;
	}

	&--withBtn:hover {
		#{$block} {
			&__text {
				display: none;
			}

			&__line {
				display: block;
				visibility: visible;
				opacity: 1;
			}

			&__btn {
				display: flex;
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&--big {
		#{$block}__gradient {
			max-height: 268px;
		}
	}
}
