.catalog-items {
	$block: &;

	&__filters {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 8px;

		@include lg {
			flex-direction: column;
			gap: 16px;
		}
	}

	&__switch {
		margin-right: auto;

		@include md {
			width: 100%;
			margin-right: 0;
		}
	}

	&__line {
		display: none;
		margin: 0;

		@include md {
			display: block;
			width: 100%;
			height: 1px;
			background: var(--color-gray-9);
			border: none;
		}
	}

	&__search-wrapper {
		display: flex;
		justify-content: end;
		gap: 8px;
		width: 100%;

		@include lg {
			justify-content: space-between;
		}

		@include md {
			flex-direction: column;
			gap: 16px;
		}

		&--wrap-on-lg {
			@include lg {
				flex-wrap: wrap;
			}
		}
	}

	&__search {
		width: 100%;
		max-width: 336px;

		@include md {
			max-width: 100%;
		}
	}

	&__categories-wrapper {
		display: flex;
		gap: 8px;

		@include md {
			justify-content: space-between;
		}
	}

	&__goals {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		margin-bottom: 24px;

		@include lg {
			gap: 16px;
		}

		&--columns-3 {
			#{$block} {
				&__goal {
					width: calc(100% / 3 - (24px * 2 / 3));

					@include lg {
						width: calc(100% / 2 - (24px * 1 / 2));
					}

					@include sm {
						width: 100%;
					}
				}
			}
		}
	}

	&__goal {
		width: calc(100% / 4 - (24px * 3 / 4));

		&--full {
			width: 100%;
		}

		@include lg {
			width: calc(100% / 2 - (24px * 1 / 2));

			&--full {
				width: 100%;
			}
		}

		@include md {
			width: 100%;
		}
	}

	&__list {
		width: calc(100% / 2 - (24px * 1 / 2));
	}
}
