.goal-timers {
	padding: 20px;
	margin: 56px auto 0;
	background: var(--color-white);
	border-radius: 12px;
	box-shadow: 0 2px 8px rgb(var(--color-black-rgb) / 8%);

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;

		@include md {
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
		}
	}

	&__title {
		margin: 0;
	}

	&__toggle-button {
		min-width: 160px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;

		@include lg {
			grid-template-columns: repeat(2, 1fr);
		}

		@include sm {
			grid-template-columns: 1fr;
		}
	}
}

.goal-timer-item {
	$item: &;

	display: flex;
	flex-direction: column;
	padding: 8px;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 8px;
	overflow: hidden;
	outline: 1px solid transparent;
	outline-offset: -1px;
	cursor: pointer;
	transition: outline-color 0.15s ease;

	&:hover,
	&:focus-visible {
		outline-color: var(--color-primary-hover);
	}

	&--expired {
		&:hover,
		&:focus-visible {
			outline-color: var(--color-sentiment-negative);
		}
	}

	&__gradient {
		display: flex;
		min-height: 144px;
		max-height: 192px;
		overflow: hidden;
		border-radius: 8px;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__image-placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 144px;
		background: var(--color-gray-11);
		border-radius: 8px;

		svg,
		path {
			fill: var(--color-text-secondary);
		}
	}

	&__info {
		display: flex;
		flex: 1;
		flex-direction: column;
		padding: 8px 8px 4px;
	}

	&__title {
		display: -webkit-box;
		margin: 0 0 4px;
		overflow: hidden;
		overflow-wrap: anywhere;
		color: var(--color-text-primary);
		font-size: 15px;
		font-weight: var(--weight-semi-bold);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		line-clamp: 2;
	}

	&__down-wrapper {
		margin-top: auto;
	}

	&__timer-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		padding-top: 8px;
		color: var(--color-text-secondary);
		font-size: 13px;
	}

	&__deadline {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	&__days-left {
		font-weight: var(--weight-medium);
		text-align: right;
		padding: 2px 6px;
		background: var(--color-primary);
		border-radius: 6px;
		color: var(--color-white);

		&--urgent {
			color: var(--color-sentiment-negative);
			font-weight: var(--weight-semi-bold);
		}
	}

	&__expired-label {
		color: var(--color-white);
		font-weight: var(--weight-semi-regular);
		padding: 2px 6px;
		background: var(--color-sentiment-negative);
		border-radius: 6px;
	}

	&__button {
		margin-top: 8px;
	}
}
