.card-category {
	$block: &;

	display: block;
	gap: auto;
	width: 336px;
	height: 216px;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 8px;
	overflow: hidden;
	transition: all 0.15s ease-in-out;

	&__gradient {
		display: flex;
		height: 100%;
	}

	&__description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__goals {
		color: var(--color-white);
		font-size: 14px;
	}

	&:hover {
		outline: 1px solid var(--color-primary-hover);
		outline-offset: -1px;
	}
}
