.card-category {
	$block: &;

	display: block;
	gap: auto;
	width: 336px;
	height: 290px;
	background: var(--color-white);
	border: 1px solid var(--color-gray-9);
	border-radius: 8px;
	transition: all 0.15s ease-in-out;
	overflow: hidden;

	&:hover {
		background-color: var(--color-secondary-hover);
	}

	&__gradient {
		display: flex;
		height: 100%;
	}

	&__description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__title {
		margin-bottom: 8px;
		text-align: center;
	}

	&__goals {
		color: var(--color-white);
		font-size: 14px;
	}

	// вариант minimal
	&--variant-minimal {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;
		width: 100%;
		height: auto;
		min-height: 80px;
		padding: 16px;
		background-color: var(--color-secondary);
		border: none;

		#{$block}__icon-img {
			width: 40px;
			height: 40px;
			object-fit: contain;
		}

		#{$block}__icon-svg {
			width: 40px;
			height: 40px;

			svg {
				width: 40px;
				height: 40px;
			}
		}

		#{$block}__content {
			display: flex;
			flex: 1;
			flex-direction: column;
			gap: 4px;
		}

		#{$block}__title {
			margin-bottom: 0;
			text-align: left;
		}

		#{$block}__goals {
			color: var(--color-text);
			font-size: 14px;
		}
	}
}
