.modal-confirm {
	$block: &;

	// Корневой элемент должен быть fixed и покрывать всю страницу
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;

	&__close {
		position: absolute;
		z-index: 1;
		top: 24px;
		right: 24px;
		width: min-content;
		padding: 8px;
	}

	&__window {
		position: fixed;
		z-index: 10001;
		top: 50%;
		left: 50%;
		display: none;
		width: 456px;
		max-height: 90vh;
		padding: 24px;
		background: var(--color-white);
		border: 1px solid var(--color-gray-9);
		border-radius: 8px;
		transform: translate(-50%, -50%);
		overflow: hidden;

		@media (width <= 768px) {
			width: 95vw;
			max-width: 95vw;
			padding: 16px;
		}
	}

	&__content {
		position: relative;
		max-height: calc(90vh - 48px);

		@media (width <= 768px) {
			max-height: calc(90vh - 32px);
		}
	}

	&__header {
		padding-bottom: 16px;
		margin-bottom: 24px;
		border-bottom: 1px solid var(--color-border);
	}

	&__title {
		margin: 0;
		color: var(--color-text-primary);
		font-size: 24px;
		font-weight: var(--weight-semi-bold);
		line-height: 1.2;

		@media (width <= 768px) {
			font-size: 20px;
		}
	}

	&__base {
		position: fixed;
		z-index: 10000;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
		background: rgb(var(--color-black-rgb) / 40%);
	}

	&__text {
		margin-bottom: 16px;
	}

	&__checkbox-wrapper {
		margin-bottom: 24px;
	}

	&__btns-wrapper {
		display: flex;
		gap: 16px;
	}

	&--isOpen {
		display: block;

		#{$block}__window {
			display: block;
		}

		#{$block}__base {
			display: block;
		}
	}
}
