@use '@/_commons/styles-supports/mixins' as *;

.achievement {
	@include block-radius(16px);

	display: flex;
	gap: 16px;

	&__image-wrapper {
		@include block-radius(7px);

		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
	}

	&__image {
		height: 30px;
		object-fit: cover;
	}

	&--unlocked {
		opacity: 1;
	}

	&:not(&--unlocked) {
		opacity: 0.5;
		filter: grayscale(100%);
	}
}
