.main-info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;

	@include lg {
		grid-template-columns: 1fr;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__item {
		transition: all 0.3s ease;

		&:hover {
			transform: translateY(-4px);
		}

		@include block-radius(24px, var(--color-gray-11));
	}

	&__icon {
		margin-bottom: 16px;

		&--bullseye {
			svg * {
				fill: var(--color-logo);
			}
		}
	}
}
