.banner {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	width: 100%;
	padding: 16px;
	background: var(--color-white);
	border: 1px solid transparent;
	border-radius: 8px;

	&__icon {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
	}

	&__content {
		flex: 1;
		display: flex;
		align-items: start;
		gap: 8px;
		min-width: 0;
		min-height: 24px;
	}

	&__title {
		margin: 0;
		color: var(--color-text-primary);
		font-size: 14px;
		font-weight: var(--weight-medium);
		line-height: var(--line-height-14);
	}

	&__message {
		margin: 0;
		color: var(--color-gray-7);
		font-size: 14px;
		line-height: var(--line-height-14);
		font-weight: var(--weight-regular);

		ol,
		ul {
			padding-left: 20px;
			margin: 4px 0 0;
		}
	}

	&--type-success {
		border-color: var(--color-sentiment-positive);
	}

	&--type-success &__icon * {
		fill: var(--color-sentiment-positive);
	}

	&--type-success &__title {
		color: var(--color-sentiment-positive);
	}

	&--type-info {
		border-color: var(--color-gray-9);
	}

	&--type-info &__icon * {
		fill: var(--color-primary);
	}

	&--type-info &__title {
		color: var(--color-gray-8);
	}

	&--type-warning {
		border-color: var(--color-sentiment-warning);
	}

	&--type-warning &__icon * {
		fill: var(--color-sentiment-warning);
	}

	&--type-warning &__title {
		color: var(--color-sentiment-warning);
	}

	&--type-warning &__message {
		color: var(--color-sentiment-warning);
	}

	&--type-danger {
		border-color: var(--color-sentiment-negative);
	}

	&--type-danger &__icon * {
		fill: var(--color-sentiment-negative);
	}

	&--type-danger &__title {
		color: var(--color-sentiment-negative);
	}

	&--type-danger &__message {
		color: var(--color-sentiment-negative);
	}

	&__action {
		flex-shrink: 0;
		margin-left: auto;
		color: var(--color-primary);
		font-size: 14px;
		font-weight: var(--weight-medium);
		line-height: var(--line-height-14);
	}

	&__close {
		flex-shrink: 0;
	}
}
