.description-with-links {
	padding: 16px 24px 0;
	background: var(--color-white);
	border: 1px solid var(--color-border);
	border-radius: 8px;

	&__wrapper {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		gap: 24px;

		@include md {
			flex-direction: column;
		}
	}

	&__text {
		flex-basis: 67%;

		@include md {
			flex-basis: 100%;
		}
	}

	&__btn-more {
		width: initial;
	}

	&__description {
		display: -webkit-box;
		margin-bottom: 4px;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		line-clamp: 3;

		&--expanded {
			-webkit-line-clamp: unset;
			line-clamp: unset;
		}
	}

	&__info {
		flex-basis: 33%;
	}

	&--list {
		padding-bottom: 16px;
	}
}
