.description-with-links {
	padding: 16px 24px 0;
	background: var(--color-white);
	border: 1px solid var(--color-border);
	border-radius: 8px;

	&__wrapper {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		gap: 24px;

		@include md {
			flex-direction: column;
		}
	}

	&__text {
		flex-basis: 67%;

		@include md {
			flex-basis: 100%;
		}
	}

	&__btn-more {
		width: initial;
	}

	&__short-text {
		word-wrap: break-word;
		overflow-wrap: break-word;

		&--collapsed {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-word;
		}
	}

	&__toggle-button {
		margin-top: 4px;
		color: var(--color-primary);
		text-align: left;
		cursor: pointer;

		&:hover {
			color: var(--color-primary-hover);
		}
	}

	&__info {
		flex-basis: 33%;
	}

	&--list {
		padding-bottom: 16px;
	}
}
