.registration {
	$block: &;

	&--page {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;

		#{$block} {
			&__form {
				width: 456px;
				padding: 24px;
				background-color: var(--color-white);
				border: 1px solid var(--color-gray-9);
				border-radius: 8px;
			}
		}
	}

	&__logo {
		display: flex;
		justify-content: center;
		margin-bottom: 8px;
	}

	&__title {
		margin-bottom: 24px;
		text-align: center;
	}

	&__field {
		margin-bottom: 16px;
	}

	&__btn {
		margin-bottom: 16px;
	}

	&__sign-in {
		display: flex;
		justify-content: center;
		color: var(--color-text-secondary);
	}

	&__btn-sign-in {
		margin-left: 4px;
	}
}
