.main-goals {
	@include max-width;

	margin-top: 56px;

	@include xl {
		margin-top: 40px;
		margin-right: 24px;
		margin-left: 24px;
	}

	@include lg {
		margin-top: 32px;
	}

	@include md {
		margin-top: 24px;
	}

	@include sm {
		margin-top: 16px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		margin-bottom: 56px;

		@include lg {
			flex-direction: column;
			gap: 32px;
			margin-bottom: 40px;
		}

		@include md {
			gap: 24px;
			margin-bottom: 32px;
		}

		@include sm {
			gap: 16px;
		}
	}

	&__title {
		margin-bottom: 16px;
	}

	&__description {
		max-width: 576px;

		@include lg {
			max-width: 100%;
		}
	}

	&__all-completed-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 975px;
		margin: 0 auto;
		margin-bottom: 24px;
	}

	&__all-completed {
		font-size: 24px;
		line-height: var(--line-height-24);
		text-align: center;
	}

	&__all-completed-image {
		max-width: 450px;
		height: 100%;
		object-fit: cover;
	}

	&__filter {
		margin-bottom: 24px;
	}

	&__goals {
		margin-bottom: 56px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__stats {
		min-width: 600px;

		@include lg {
			min-width: 100%;
		}
	}
}
