@import '../../_commons/styles-supports/mixins';

.main-goals {
	@include max-width;

	margin-top: 56px;

	&__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 56px;
	}

	&__title {
		margin-bottom: 16px;
	}

	&__description {
		max-width: 576px;
	}

	&__goals {
		margin-bottom: 56px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
