.field-checkbox {
	$block: &;

	display: flex;
	align-items: center;

	input:checked + {
		#{$block}__label > #{$block}__checkbox {
			background: var(--color-primary);
			border: 1px solid var(--color-primary);
		}

		#{$block}__label:hover > #{$block}__checkbox {
			background: var(--color-primary-hover);
			border: 1px solid var(--color-primary-hover);
		}
	}

	&__input {
		display: none;
	}

	&__checkbox {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16px;
		height: 16px;
		background: var(--color-secondary);
		border: 1px solid var(--color-gray-4);
		border-radius: 6px;
		transition: all 0.15s ease-in-out;

		&:focus-visible {
			@include focus-outline;
		}
	}

	&__icon path {
		transition: none;
		fill: var(--color-secondary);
	}

	&__label {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;
		width: 100%;
		height: 100%;
		font-weight: 500;
		cursor: pointer;
		transition: all 0.15s ease-in-out;

		&:hover {
			#{$block}__checkbox {
				background: var(--color-secondary-hover);

				& #{$block}__icon path {
					fill: var(--color-secondary-hover);
				}
			}
		}

		&:focus-visible {
			outline: none;

			#{$block}__checkbox {
				@include focus-outline;
			}
		}
	}
}
