@import '../../_commons/styles-supports/mixins';

.user-self-settings {
	width: 100%;

	&__title {
		margin-bottom: 24px;
	}

	&__edit-fields {
		@include block-radius(24px);

		overflow: hidden;
	}

	&__bg {
		position: relative;
		height: 192px;
		margin: -24px -24px 0;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__btn-cover {
		position: absolute;
		top: 16px;
		right: 24px;
	}

	&__avatar-wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: calc(-192px + 56px);

		@include md {
			flex-direction: column;
			align-items: center;
			gap: 12px;
		}
	}

	&__avatar-buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: end;
		align-items: center;
		gap: 8px;

		@include xs {
			flex-direction: column;
		}
	}

	&__title-info {
		margin-bottom: 24px;
	}

	&__input-group {
		display: grid;
		gap: 24px;
		margin-bottom: 24px;
		grid-template-columns: 1fr 1fr;

		@include xs {
			grid-template-columns: 1fr;
		}
	}

	&__country {
		width: 100%;
	}

	&__btn-save {
		width: max-content;
	}
}
